## Initial setup

In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import sqlite3
import os
import time
import re
seed = 1000

import datetime
import pickle

from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import StratifiedKFold

from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC

from sklearn.metrics import roc_auc_score

from collections import Counter

In [2]:
os.chdir('./Datasets')

## Construct features for raw data

### Remove the except examples

In [3]:
df_train = pd.read_csv('training-set.csv', header = None, names = ['FileID', 'Target'])

In [4]:
df_test = pd.read_csv('testing-set.csv', header = None, names = ['FileID', 'Target'])

In [5]:
df_train.shape

(52559, 2)

In [6]:
df_test.shape

(29418, 2)

In [7]:
train_id_except = [x.strip('\n') for x in open('./exception/exception_train.txt', encoding = 'utf8').readlines()]

In [8]:
test_id_except = [x.strip('\n') for x in open('./exception/exception_testing.txt', encoding = 'utf8').readlines()]

In [9]:
df_train = df_train.ix[~df_train['FileID'].isin(train_id_except), :]

C:\Users\Xniper\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [10]:
df_train.shape

(52518, 2)

In [11]:
df_test = df_test.ix[~df_test['FileID'].isin(test_id_except), :]

C:\Users\Xniper\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [12]:
df_test.shape

(29376, 2)

In [19]:
df_train.to_csv('training-set_new.csv', index = False, header = None)

In [20]:
df_test.to_csv('testing-set_new.csv', index = False, header = None)

### Output the database as dataframe

In [4]:
start_time = time.time()
conn = sqlite3.connect('Malware.db')
cur = conn.cursor()
df = cur.execute("SELECT * FROM query_log").fetchall() 
conn.close()
done_time = time.time() - start_time
print(done_time)

238.15401887893677

In [28]:
start_time = time.time()
df = pd.DataFrame(df, columns=['FileID', 'CustomerID', 'QueryTS', 'ProductID', 'Date'])
done_time = time.time() - start_time
print(done_time)

1657.7492020130157

In [31]:
start_time = time.time()
df.to_csv('df.csv', index = False, encoding = 'utf8')
done_time = time.time() - start_time
print(done_time)

532.6359713077545

In [27]:
len(df)

83273110

### Load the data

In [4]:
df_train = pd.read_csv('training-set_new.csv', header = None, names = ['FileID', 'Target'])
df_test = pd.read_csv('testing-set_new.csv', header = None, names = ['FileID', 'Target'])

In [5]:
df_train.shape

(52518, 2)

In [6]:
df_train = pd.concat([pd.DataFrame(np.arange(df_train.shape[0]), columns=['ID']), df_train], axis = 1, join='inner')

In [7]:
df_train.head()

   ID                            FileID  Target
0   0  0000e2398b12121a85166fed5fe2a3da       0
1   1  0001fe8dce14ce099aa6ca8ea5026ea7       0
2   2  00027f50019000accc492e5684efc818       0
3   3  00028c9da3573ec50db74b44310ae507       0
4   4  0003dc8130969abe688cadf5f14ea19f       0

In [5]:
df_train['Target'].value_counts()/(df_train.shape[0])

NameError: name 'df_train' is not defined

### Construct features for Raw data

In [3]:
start_time = time.time()
df = pd.read_csv('df.csv')
done_time = time.time() - start_time
print(done_time)

C:\Users\Xniper\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

195.21550059318542

In [4]:
df.shape

(83273110, 12)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83273110 entries, 0 to 83273109
Data columns (total 12 columns):
FileID           object
CustomerID       object
QueryTS          int64
ProductID        object
Date             object
Date_detailed    object
Weekday          int64
Day              int64
Hour             int64
Day_lvl_3        int64
Hour_lvl_3       int64
Hour_lvl_2       int64
dtypes: int64(7), object(5)
memory usage: 7.4+ GB

In [4]:
df.head()

,FileID,CustomerID,QueryTS,ProductID,Date,Date_detailed,Weekday,Day,Hour,Day_lvl_3,Hour_lvl_3,Hour_lvl_2
0,dfccd8e23f0b03ec4db7a9a745ad7399,64573086fcfee53e8fa6d8f1f44101bb,1488326402,c105a0,2017/03/01,2017-03-01 08:00:02,2,1,8,1,1,0
1,29962f9102502ee76bb3cddb8cf8c9ad,597df153a25e8e548cbe35f6e4da9cbb,1488326403,c105a0,2017/03/01,2017-03-01 08:00:03,2,1,8,1,1,0
2,fa3fa642378b9d98c0e2770611b92eb3,1db24b8cc0a7ce59634629e7f292520f,1488326405,c105a0,2017/03/01,2017-03-01 08:00:05,2,1,8,1,1,0
3,48f90ea1af2c04677c6890db392ca088,5ca6dd0b8863069ab1efe014de82cecf,1488326411,c76d58,2017/03/01,2017-03-01 08:00:11,2,1,8,1,1,0
4,d0ff310c25e3bd7ae919d34dc38fb0de,5ca6dd0b8863069ab1efe014de82cecf,1488326411,c76d58,2017/03/01,2017-03-01 08:00:11,2,1,8,1,1,0

In [32]:
start_time = time.time()
df_unique_labels = np.unique(df['FileID'])
done_time = time.time() - start_time
print(done_time)

120.9886462688446

In [33]:
np.setdiff1d(df_train['FileID'].values, df_unique_labels)

array([], dtype=object)

In [34]:
np.setdiff1d(df_test['FileID'].values, df_unique_labels)

array([], dtype=object)

In [4]:
df_new = pd.read_csv('df_new.csv')

In [5]:
df_new.shape

(81894, 254)

In [101]:
df_new.head()

,FileID,Occur_count,Occur_count_distinct_customer,Occur_count_distinct_product,Weekday_1,Weekday_2,Weekday_3,Weekday_4,Weekday_5,Weekday_6,...,Day_26_norm,Day_27_norm,Day_28_norm,Day_29_norm,Day_30_norm,Day_31_norm,Occur_count_normalized_by_time,QueryTS_mean,QueryTS_median,QueryTS_std
0,00008c73ee43c15b16c26b26398c1577,134,91,5,50,22,20,21,19,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000276,NaN,NaN,NaN
1,0000e2398b12121a85166fed5fe2a3da,47,3,2,0,0,1,0,0,43,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000126,NaN,NaN,NaN
2,0001fe8dce14ce099aa6ca8ea5026ea7,234,234,4,51,7,0,26,68,42,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000511,NaN,NaN,NaN
3,00027f50019000accc492e5684efc818,378,22,5,0,0,28,238,72,40,...,0.0,0.0,0.0,0.0,0.0,0.0,0.001201,NaN,NaN,NaN
4,00028c9da3573ec50db74b44310ae507,368,113,5,4,2,8,9,0,308,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000760,NaN,NaN,NaN

#### The first character of the CustomerID

In [5]:
len_list = [len(x) for x in df['CustomerID']]

In [6]:
Counter(len_list)

Counter({32: 83273110})

In [10]:
first_list = [x[0] for x in df['CustomerID']]

In [9]:
df['CustomerID_first'] = [x[0] for x in df['CustomerID']]

In [37]:
last_list = [x[31] for x in df['CustomerID']]

In [38]:
Counter(last_list)

Counter({'0': 4980362,
         '1': 5061227,
         '2': 6274906,
         '3': 4913674,
         '4': 4962798,
         '5': 4949956,
         '6': 4935594,
         '7': 5043442,
         '8': 5102547,
         '9': 5261421,
         'a': 4951807,
         'b': 6737196,
         'c': 4985594,
         'd': 5061297,
         'e': 5009850,
         'f': 5041439})

#### Convert the column "ProductID" to string type

In [6]:
df['ProductID'] = df['ProductID'].apply(lambda x: str(x) if x != 55649 else '055649')

#### Product

In [11]:
unique_product = list(set(df['ProductID']))

In [12]:
unique_product

['e47f04',
 'fec24f',
 '533133',
 '75f310',
 '3ea8c3',
 '3c2be6',
 '0cdb7a',
 '26a5d0',
 'a310bb',
 '634e6b',
 '8b7f69',
 '0374c4',
 '262880',
 '05b409',
 '218578',
 '885fab',
 'd465fc',
 '8541a0',
 '055649',
 'b93794',
 'aaa9c8',
 'c76d58',
 '20f8a5',
 'dd8d4a',
 'c105a0',
 '7acab3',
 'cc3a6a',
 '8452da']

In [13]:
[len(x) for x in unique_product]

[6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6]

In [12]:
len(unique_product)

28

In [47]:
Counter([x[0] for x in unique_product])

Counter({'0': 4,
         '2': 4,
         '3': 2,
         '5': 1,
         '6': 1,
         '7': 2,
         '8': 4,
         'a': 2,
         'b': 1,
         'c': 3,
         'd': 2,
         'e': 1,
         'f': 1})

#### Convert the column "CustomerID " to string type

In [7]:
unique_customer = list(set(df['CustomerID']))

In [8]:
Counter([type(x) for x in unique_customer])

Counter({str: 5539312})

#### Month

In [5]:
df['Month'] = df['Date'].apply(lambda x: int(x[5:7]))

#### Feature: Date in detail

In [31]:
start_time = time.time()
df['Date_detailed'] = df['QueryTS'].apply(lambda x: datetime.datetime.fromtimestamp(x))
done_time = time.time() - start_time
print(done_time)

99.74634146690369

#### Feature: Weekday

In [35]:
start_time = time.time()
df['Weekday'] = df['Date_detailed'].apply(lambda x: x.weekday())
done_time = time.time() - start_time
print(done_time)

340.16537976264954

#### Feature: Day

In [37]:
start_time = time.time()
df['Day'] = df['Date_detailed'].apply(lambda x: x.day)
done_time = time.time() - start_time
print(done_time)

285.161833524704

#### Feature: Hour

In [38]:
start_time = time.time()
df['Hour'] = df['Date_detailed'].apply(lambda x: x.hour)
done_time = time.time() - start_time
print(done_time)

285.8405246734619

#### Feature: Day level (in 3 levels)

In [43]:
start_time = time.time()
df['Day_lvl_3'] = df['Day'].apply(lambda x: 1 if x <= 10 else(2 if x <= 20 else 3))
done_time = time.time() - start_time
print(done_time)

41.18560314178467

#### Feature: Hour level (in 3 levels)

In [44]:
start_time = time.time()
df['Hour_lvl_3'] = df['Hour'].apply(lambda x: 1 if x <= 8 else(2 if x <= 17 else 3))
done_time = time.time() - start_time
print(done_time)

41.08969688415527

#### Feature: Hour level (in 2 levels)

In [48]:
start_time = time.time()
df['Hour_lvl_2'] = df['Hour'].apply(lambda x: 0 if x < 12 else 1)
done_time = time.time() - start_time
print(done_time)

36.97481346130371

In [51]:
df.head()

,FileID,CustomerID,QueryTS,ProductID,Date,Date_detailed,Weekday,Day,Hour,Day_lvl_3,Hour_lvl_3,Hour_lvl_2
0,dfccd8e23f0b03ec4db7a9a745ad7399,64573086fcfee53e8fa6d8f1f44101bb,1488326402,c105a0,2017/03/01,2017-03-01 08:00:02,2,1,8,1,1,0
1,29962f9102502ee76bb3cddb8cf8c9ad,597df153a25e8e548cbe35f6e4da9cbb,1488326403,c105a0,2017/03/01,2017-03-01 08:00:03,2,1,8,1,1,0
2,fa3fa642378b9d98c0e2770611b92eb3,1db24b8cc0a7ce59634629e7f292520f,1488326405,c105a0,2017/03/01,2017-03-01 08:00:05,2,1,8,1,1,0
3,48f90ea1af2c04677c6890db392ca088,5ca6dd0b8863069ab1efe014de82cecf,1488326411,c76d58,2017/03/01,2017-03-01 08:00:11,2,1,8,1,1,0
4,d0ff310c25e3bd7ae919d34dc38fb0de,5ca6dd0b8863069ab1efe014de82cecf,1488326411,c76d58,2017/03/01,2017-03-01 08:00:11,2,1,8,1,1,0

#### Feature: CustomerID+ProductID

In [9]:
start_time = time.time()
df['CustomerID_ProductID'] = df.ix[:, ['CustomerID', 'ProductID']].apply(lambda x: x[0] + '_' + x[1], axis = 1)
done_time = time.time() - start_time
print(done_time)

C:\Users\Xniper\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

2186.363445520401

In [10]:
df.head()

,FileID,CustomerID,QueryTS,ProductID,Date,Date_detailed,Weekday,Day,Hour,Day_lvl_3,Hour_lvl_3,Hour_lvl_2,CustomerID_ProductID
0,dfccd8e23f0b03ec4db7a9a745ad7399,64573086fcfee53e8fa6d8f1f44101bb,1488326402,c105a0,2017/03/01,2017-03-01 08:00:02,2,1,8,1,1,0,64573086fcfee53e8fa6d8f1f44101bb_c105a0
1,29962f9102502ee76bb3cddb8cf8c9ad,597df153a25e8e548cbe35f6e4da9cbb,1488326403,c105a0,2017/03/01,2017-03-01 08:00:03,2,1,8,1,1,0,597df153a25e8e548cbe35f6e4da9cbb_c105a0
2,fa3fa642378b9d98c0e2770611b92eb3,1db24b8cc0a7ce59634629e7f292520f,1488326405,c105a0,2017/03/01,2017-03-01 08:00:05,2,1,8,1,1,0,1db24b8cc0a7ce59634629e7f292520f_c105a0
3,48f90ea1af2c04677c6890db392ca088,5ca6dd0b8863069ab1efe014de82cecf,1488326411,c76d58,2017/03/01,2017-03-01 08:00:11,2,1,8,1,1,0,5ca6dd0b8863069ab1efe014de82cecf_c76d58
4,d0ff310c25e3bd7ae919d34dc38fb0de,5ca6dd0b8863069ab1efe014de82cecf,1488326411,c76d58,2017/03/01,2017-03-01 08:00:11,2,1,8,1,1,0,5ca6dd0b8863069ab1efe014de82cecf_c76d58

In [11]:
start_time = time.time()
df.to_csv('df.csv', index = False, encoding = 'utf8')
done_time = time.time() - start_time
print(done_time)

845.7744839191437

## Construct features for training data

(v) 出現次數<br>
(v) 出現的獨立使用者數<br>
(v) 出現的獨立裝置數<br>
(v) 星期幾出現次數(轉百分比)<br>
(v) 上中下旬出現次數(轉百分比)<br>
(v) 一天分三等份出現次數(轉百分比)<br>
(v) 一天分兩等份出現次數(轉百分比)<br>
(v) 發生間隔時間平均數: 發生時間差距(最大 - 最小)/發生次數<br>
(v) 發生間隔時間中位數<br>
(v) 發生間隔時間最大值<br>
(v) 發生間隔時間最小值<br>
(v) 發生間隔時間標準差<br>
(v) 發生間隔時間第一四分位數<br>
(v) 發生間隔時間第三四分位數<br>
(v) 發生間隔時間四分位距<br>
(v) 發生間隔時間偏態<br>
(v) 發生間隔時間峰度<br>
(v) 發生間隔時間範圍(Range)<br>
() 對feature取對數<br>
(v) 出現次數/出現的獨立使用者數<br>
(v) 出現次數/出現的獨立裝置數<br>
(v) 發生間隔時間標準差/發生間隔時間平均數<br>
(v) 出現在各月份的次數(轉百分比)<br>
() 不同月份中間隔時間的統計值<br>

In [56]:
len(df_train['FileID'].values)

52518

In [67]:
start_time = time.time()
df.to_csv('df.csv', index = False, encoding = 'utf8')
done_time = time.time() - start_time
print(done_time)

894.7333953380585

### Group by Month

In [216]:
group_by_month = df.groupby(['Month'])

In [218]:
group_by_month_test = df.ix[0:100000, ].groupby(['Month'])

In [224]:
customer_group_by_month = group_by_month['FileID'].agg(lambda x: len(x.unique()))

In [228]:
customer_group_by_month

Month
03    27185
04    28584
05    32082
Name: FileID, dtype: int64

### Group by CustomerID

In [14]:
group_by_customerid = df.groupby(['CustomerID'])
group_by_customerid_test = df.ix[0:100000, ].groupby(['CustomerID'])

C:\Users\Xniper\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

In [15]:
start_time = time.time()
product_per_customer = group_by_customerid['ProductID'].agg(lambda x: len(x.unique()))
done_time = time.time() - start_time
print(done_time)

479.3120975494385

In [19]:
Counter(product_per_customer.values)

Counter({1: 5064396, 2: 436687, 3: 38153, 4: 75, 7: 1})

In [23]:
with open('customer_to_num_of_product.pickle', 'wb') as file:
    pickle.dump(dict(product_per_customer), file, protocol=pickle.HIGHEST_PROTOCOL)

In [22]:
dict(group_by_customerid_test['ProductID'].agg(lambda x: len(x.unique())))['15aeadacbbaeb59d97b6271e27ce70c2']

1

In [24]:
with open('customer_to_num_of_product.pickle', 'rb') as file:
    customer_to_product = pickle.load(file)

In [25]:
len(customer_to_product)

5539312

### Group by FileID

In [12]:
group_by_fileid = df.groupby(['FileID'])
group_by_fileid_test = df.ix[0:100000, ].groupby(['FileID'])

In [100]:
df_new = pd.DataFrame(sorted(list(group_by_fileid.keys())), columns = ['FileID'])

In [101]:
df_new

                                 FileID
0      00008c73ee43c15b16c26b26398c1577
1      0000e2398b12121a85166fed5fe2a3da
2      0001fe8dce14ce099aa6ca8ea5026ea7
3      00027f50019000accc492e5684efc818
4      00028c9da3573ec50db74b44310ae507
5      0002ded3a0b54f2ffdab0ca77a5ce2b6
6      0003dc8130969abe688cadf5f14ea19f
7      000462baadff8a02f7f6fef84d242eed
8      00050a9df8e13f6ab5a3d3b3e2fc6a86
9      0005e4c0263f52453438ddd0d55aef82
10     0006ac9aadbdbf2fed5e62b4e463daa1
11     0006d16543c1c4866dfa59fbbf7eedab
12     0007819a84e047a78fbbd620557104ad
13     0008720f6bfadf1aa4039a856eef3ecb
14     000a00e6939f803bbf4aaf51b39048d0
15     000b1aa62b95e448784b8b341de46c64
16     000b4096d7a0962245181f01e002b203
17     000d282c41fc76964cdc31b805c464a7
18     000d409d670038a868ed471a8334345d
19     000d9f96b5eddf04a3b7a37cb95d0a00
20     000f15bf6a8f0b51126ece0ce93af65c
21     0010f818848455dfe997e69ee03518ef
22     00111635044e630cb47c519a6ab7e906
23     00117b31bd107c43123c8a0180dc036c
24     0011d5f78c56a18dbb60a455c084ecca
25     0012028fdd971d39caa88c8d0136334a
26     00132b31a466e3e2a71ef5235e7d1305
27     0014f376f7468a7e0c2a53634c59ac41
28     001543427ff6300877e6a44e354588a6
29     0015734d9e317de07623fd04ddaef05a
...                                 ...
81864  ffe967e555bd3aa5d04141e7c7125282
81865  ffe9c588d25f52e11827af0ad5edf823
81866  ffea91ac33d536b569049298bbcc41c2
81867  ffeb03fbf4edbcb3deb3486d73ec7ee2
81868  ffec165c81214b2124d06116ffd3fd74
81869  ffed0b71fef50044178032390f6968b5
81870  ffee6396874030bbef0de892b28ec929
81871  ffee6d88debec239c941df9afeff430d
81872  ffeea6827b985bc9cd5e84866f833dbf
81873  ffeff485a68762c5c44a0c75fe4ae655
81874  fff08b1c7eb9c2884a3a36ae307c9e77
81875  fff12a45cd80cab1c89e4099b9c535dd
81876  fff2461bb980e42d17cb1fb6ca568aa6
81877  fff266a849c1602596501467c23a5ea8
81878  fff2f080eb3a074c2956e5bfde3a0574
81879  fff5241d875d3af6814b954f333afd4b
81880  fff57a378fbc3bc458b7cc9171ce7c31
81881  fff6851ddbf675b950e1184c988b984e
81882  fff6e0c69b020e121bce461aa1b4e447
81883  fff725f7e0ee12930293dac4b190456f
81884  fff778d62567980db50262b5fdc4c89b
81885  fff7e433896fffd4e2f46b6fc784241d
81886  fff847ad7d9828b8633ac68fb63494f4
81887  fff85183b75a0b07636d8de741721d2d
81888  fffb47a6aba1caceaaa0a3a0c72ab51e
81889  fffb678dfa662b1e6782a9a145e1a5f1
81890  fffbf53813205ab1e7d1571deb633185
81891  fffcc0cdd2397bed5c3c12c73da69123
81892  fffee48f944ee3f34209d8e797f40aaa
81893  ffff94db3a63e4fd7585ddc10a2ab044

[81894 rows x 1 columns]

### Fearture

#### Feature: Count of occurence

In [20]:
start_time = time.time()
occur_count = group_by_fileid['CustomerID'].count()
done_time = time.time() - start_time
print(done_time)

4.152055263519287

In [21]:
occur_count

FileID
00008c73ee43c15b16c26b26398c1577      134
0000e2398b12121a85166fed5fe2a3da       47
0001fe8dce14ce099aa6ca8ea5026ea7      234
00027f50019000accc492e5684efc818      378
00028c9da3573ec50db74b44310ae507      368
0002ded3a0b54f2ffdab0ca77a5ce2b6      791
0003dc8130969abe688cadf5f14ea19f      235
000462baadff8a02f7f6fef84d242eed       91
00050a9df8e13f6ab5a3d3b3e2fc6a86      617
0005e4c0263f52453438ddd0d55aef82      368
0006ac9aadbdbf2fed5e62b4e463daa1      101
0006d16543c1c4866dfa59fbbf7eedab      749
0007819a84e047a78fbbd620557104ad      496
0008720f6bfadf1aa4039a856eef3ecb      340
000a00e6939f803bbf4aaf51b39048d0      275
000b1aa62b95e448784b8b341de46c64      242
000b4096d7a0962245181f01e002b203      534
000d282c41fc76964cdc31b805c464a7     1160
000d409d670038a868ed471a8334345d    13054
000d9f96b5eddf04a3b7a37cb95d0a00       73
000f15bf6a8f0b51126ece0ce93af65c      281
0010f818848455dfe997e69ee03518ef     1078
00111635044e630cb47c519a6ab7e906       70
00117b31bd107c43123c8a0180dc036c      169
0011d5f78c56a18dbb60a455c084ecca      176
0012028fdd971d39caa88c8d0136334a       54
00132b31a466e3e2a71ef5235e7d1305      100
0014f376f7468a7e0c2a53634c59ac41     5800
001543427ff6300877e6a44e354588a6       82
0015734d9e317de07623fd04ddaef05a    10465
                                    ...
ffe967e555bd3aa5d04141e7c7125282       58
ffe9c588d25f52e11827af0ad5edf823       94
ffea91ac33d536b569049298bbcc41c2      149
ffeb03fbf4edbcb3deb3486d73ec7ee2     1522
ffec165c81214b2124d06116ffd3fd74       25
ffed0b71fef50044178032390f6968b5     1494
ffee6396874030bbef0de892b28ec929       96
ffee6d88debec239c941df9afeff430d       66
ffeea6827b985bc9cd5e84866f833dbf      183
ffeff485a68762c5c44a0c75fe4ae655       35
fff08b1c7eb9c2884a3a36ae307c9e77      210
fff12a45cd80cab1c89e4099b9c535dd     5325
fff2461bb980e42d17cb1fb6ca568aa6      119
fff266a849c1602596501467c23a5ea8      237
fff2f080eb3a074c2956e5bfde3a0574      449
fff5241d875d3af6814b954f333afd4b      162
fff57a378fbc3bc458b7cc9171ce7c31      835
fff6851ddbf675b950e1184c988b984e       32
fff6e0c69b020e121bce461aa1b4e447       33
fff725f7e0ee12930293dac4b190456f       39
fff778d62567980db50262b5fdc4c89b       42
fff7e433896fffd4e2f46b6fc784241d      172
fff847ad7d9828b8633ac68fb63494f4       46
fff85183b75a0b07636d8de741721d2d      460
fffb47a6aba1caceaaa0a3a0c72ab51e      126
fffb678dfa662b1e6782a9a145e1a5f1      135
fffbf53813205ab1e7d1571deb633185      616
fffcc0cdd2397bed5c3c12c73da69123     6693
fffee48f944ee3f34209d8e797f40aaa      428
ffff94db3a63e4fd7585ddc10a2ab044      101
Name: CustomerID, Length: 81894, dtype: int64

In [109]:
df_new['Occur_count'] = occur_count.values

#### Feature: Count of occurence to unique customer

In [32]:
start_time = time.time()
occur_count_distinct_customer = group_by_fileid['CustomerID'].agg(lambda x: len(x.unique()))
done_time = time.time() - start_time
print(done_time)

52.027775049209595

In [33]:
occur_count_distinct_customer

FileID
00008c73ee43c15b16c26b26398c1577       91
0000e2398b12121a85166fed5fe2a3da        3
0001fe8dce14ce099aa6ca8ea5026ea7      234
00027f50019000accc492e5684efc818       22
00028c9da3573ec50db74b44310ae507      113
0002ded3a0b54f2ffdab0ca77a5ce2b6        5
0003dc8130969abe688cadf5f14ea19f      130
000462baadff8a02f7f6fef84d242eed       12
00050a9df8e13f6ab5a3d3b3e2fc6a86      614
0005e4c0263f52453438ddd0d55aef82       13
0006ac9aadbdbf2fed5e62b4e463daa1       19
0006d16543c1c4866dfa59fbbf7eedab      286
0007819a84e047a78fbbd620557104ad       58
0008720f6bfadf1aa4039a856eef3ecb       32
000a00e6939f803bbf4aaf51b39048d0      151
000b1aa62b95e448784b8b341de46c64      177
000b4096d7a0962245181f01e002b203      533
000d282c41fc76964cdc31b805c464a7      910
000d409d670038a868ed471a8334345d    13049
000d9f96b5eddf04a3b7a37cb95d0a00       29
000f15bf6a8f0b51126ece0ce93af65c      212
0010f818848455dfe997e69ee03518ef      993
00111635044e630cb47c519a6ab7e906       70
00117b31bd107c43123c8a0180dc036c       62
0011d5f78c56a18dbb60a455c084ecca       67
0012028fdd971d39caa88c8d0136334a        5
00132b31a466e3e2a71ef5235e7d1305        4
0014f376f7468a7e0c2a53634c59ac41     5788
001543427ff6300877e6a44e354588a6       16
0015734d9e317de07623fd04ddaef05a    10459
                                    ...
ffe967e555bd3aa5d04141e7c7125282       10
ffe9c588d25f52e11827af0ad5edf823       23
ffea91ac33d536b569049298bbcc41c2      148
ffeb03fbf4edbcb3deb3486d73ec7ee2      791
ffec165c81214b2124d06116ffd3fd74        4
ffed0b71fef50044178032390f6968b5     1490
ffee6396874030bbef0de892b28ec929        4
ffee6d88debec239c941df9afeff430d        8
ffeea6827b985bc9cd5e84866f833dbf       12
ffeff485a68762c5c44a0c75fe4ae655       35
fff08b1c7eb9c2884a3a36ae307c9e77       16
fff12a45cd80cab1c89e4099b9c535dd     5320
fff2461bb980e42d17cb1fb6ca568aa6        9
fff266a849c1602596501467c23a5ea8      102
fff2f080eb3a074c2956e5bfde3a0574      354
fff5241d875d3af6814b954f333afd4b       21
fff57a378fbc3bc458b7cc9171ce7c31      835
fff6851ddbf675b950e1184c988b984e        1
fff6e0c69b020e121bce461aa1b4e447       11
fff725f7e0ee12930293dac4b190456f        7
fff778d62567980db50262b5fdc4c89b       18
fff7e433896fffd4e2f46b6fc784241d      172
fff847ad7d9828b8633ac68fb63494f4       10
fff85183b75a0b07636d8de741721d2d        1
fffb47a6aba1caceaaa0a3a0c72ab51e       41
fffb678dfa662b1e6782a9a145e1a5f1        8
fffbf53813205ab1e7d1571deb633185       43
fffcc0cdd2397bed5c3c12c73da69123     6663
fffee48f944ee3f34209d8e797f40aaa      324
ffff94db3a63e4fd7585ddc10a2ab044        4
Name: CustomerID, Length: 81894, dtype: int64

In [34]:
start_time = time.time()
occur_count_distinct_customer = group_by_fileid['CustomerID'].agg(lambda x: len(set(x)))
done_time = time.time() - start_time
print(done_time)

35.421096086502075

In [35]:
occur_count_distinct_customer

FileID
00008c73ee43c15b16c26b26398c1577       91
0000e2398b12121a85166fed5fe2a3da        3
0001fe8dce14ce099aa6ca8ea5026ea7      234
00027f50019000accc492e5684efc818       22
00028c9da3573ec50db74b44310ae507      113
0002ded3a0b54f2ffdab0ca77a5ce2b6        5
0003dc8130969abe688cadf5f14ea19f      130
000462baadff8a02f7f6fef84d242eed       12
00050a9df8e13f6ab5a3d3b3e2fc6a86      614
0005e4c0263f52453438ddd0d55aef82       13
0006ac9aadbdbf2fed5e62b4e463daa1       19
0006d16543c1c4866dfa59fbbf7eedab      286
0007819a84e047a78fbbd620557104ad       58
0008720f6bfadf1aa4039a856eef3ecb       32
000a00e6939f803bbf4aaf51b39048d0      151
000b1aa62b95e448784b8b341de46c64      177
000b4096d7a0962245181f01e002b203      533
000d282c41fc76964cdc31b805c464a7      910
000d409d670038a868ed471a8334345d    13049
000d9f96b5eddf04a3b7a37cb95d0a00       29
000f15bf6a8f0b51126ece0ce93af65c      212
0010f818848455dfe997e69ee03518ef      993
00111635044e630cb47c519a6ab7e906       70
00117b31bd107c43123c8a0180dc036c       62
0011d5f78c56a18dbb60a455c084ecca       67
0012028fdd971d39caa88c8d0136334a        5
00132b31a466e3e2a71ef5235e7d1305        4
0014f376f7468a7e0c2a53634c59ac41     5788
001543427ff6300877e6a44e354588a6       16
0015734d9e317de07623fd04ddaef05a    10459
                                    ...
ffe967e555bd3aa5d04141e7c7125282       10
ffe9c588d25f52e11827af0ad5edf823       23
ffea91ac33d536b569049298bbcc41c2      148
ffeb03fbf4edbcb3deb3486d73ec7ee2      791
ffec165c81214b2124d06116ffd3fd74        4
ffed0b71fef50044178032390f6968b5     1490
ffee6396874030bbef0de892b28ec929        4
ffee6d88debec239c941df9afeff430d        8
ffeea6827b985bc9cd5e84866f833dbf       12
ffeff485a68762c5c44a0c75fe4ae655       35
fff08b1c7eb9c2884a3a36ae307c9e77       16
fff12a45cd80cab1c89e4099b9c535dd     5320
fff2461bb980e42d17cb1fb6ca568aa6        9
fff266a849c1602596501467c23a5ea8      102
fff2f080eb3a074c2956e5bfde3a0574      354
fff5241d875d3af6814b954f333afd4b       21
fff57a378fbc3bc458b7cc9171ce7c31      835
fff6851ddbf675b950e1184c988b984e        1
fff6e0c69b020e121bce461aa1b4e447       11
fff725f7e0ee12930293dac4b190456f        7
fff778d62567980db50262b5fdc4c89b       18
fff7e433896fffd4e2f46b6fc784241d      172
fff847ad7d9828b8633ac68fb63494f4       10
fff85183b75a0b07636d8de741721d2d        1
fffb47a6aba1caceaaa0a3a0c72ab51e       41
fffb678dfa662b1e6782a9a145e1a5f1        8
fffbf53813205ab1e7d1571deb633185       43
fffcc0cdd2397bed5c3c12c73da69123     6663
fffee48f944ee3f34209d8e797f40aaa      324
ffff94db3a63e4fd7585ddc10a2ab044        4
Name: CustomerID, Length: 81894, dtype: int64

In [114]:
df_new['Occur_count_distinct_customer'] = occur_count_distinct_customer.values

#### Feature: Count of occurence to unique product

In [36]:
start_time = time.time()
occur_count_distinct_product = group_by_fileid['ProductID'].agg(lambda x: len(set(x)))
done_time = time.time() - start_time
print(done_time)

17.389209032058716

In [119]:
df_new['Occur_count_distinct_product'] = occur_count_distinct_product.values

#### Feature: Count of each weekday

In [121]:
start_time = time.time()
for i in range(7):
    weekday_count = group_by_fileid['Weekday'].agg(lambda x: np.sum(x == i))
    df_new['Weekday_' + str(i+1)]  = weekday_count.values
    print(i)
done_time = time.time() - start_time
print(done_time)

0
1
2
3
4
5
6
194.5939245223999

In [122]:
df_new.head()

,FileID,Occur_count,Occur_count_distinct_customer,Occur_count_distinct_product,Weekday_1,Weekday_2,Weekday_3,Weekday_4,Weekday_5,Weekday_6,Weekday_7
0,00008c73ee43c15b16c26b26398c1577,134,91,5,50,22,20,21,19,1,1
1,0000e2398b12121a85166fed5fe2a3da,47,3,2,0,0,1,0,0,43,3
2,0001fe8dce14ce099aa6ca8ea5026ea7,234,234,4,51,7,0,26,68,42,40
3,00027f50019000accc492e5684efc818,378,22,5,0,0,28,238,72,40,0
4,00028c9da3573ec50db74b44310ae507,368,113,5,4,2,8,9,0,308,37

#### Feature: Count of weekday normalized

In [129]:
week_day_count_normalized = df_new.ix[:, ['Weekday_1', 'Weekday_2', 'Weekday_3', 'Weekday_4', 'Weekday_5',
                  'Weekday_6', 'Weekday_7']].apply(lambda x: x/x.sum(), axis = 1)

C:\Users\Xniper\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [130]:
week_day_count_normalized.columns = ['Weekday_1_norm', 'Weekday_2_norm', 'Weekday_3_norm', 'Weekday_4_norm', 'Weekday_5_norm',
                  'Weekday_6_norm', 'Weekday_7_norm']

In [137]:
df_new = pd.concat([df_new, week_day_count_normalized], axis = 1)

#### Feature: Count of day level (3 levels)

In [139]:
start_time = time.time()
for i in range(1, 4):
    day_lvl_count = group_by_fileid['Day_lvl_3'].agg(lambda x: np.sum(x == i))
    df_new['Day_lvl_3_' + str(i)]  = day_lvl_count.values
    print(i)
done_time = time.time() - start_time
print(done_time)

1
2
3
88.66763877868652

In [140]:
df_new.head()

,FileID,Occur_count,Occur_count_distinct_customer,Occur_count_distinct_product,Weekday_1,Weekday_2,Weekday_3,Weekday_4,Weekday_5,Weekday_6,...,Weekday_1_norm,Week_day2_norm,Weekday_3_norm,Weekday_4_norm,Weekday_5_norm,Weekday_6_norm,Weekday_7_norm,Day_lvl_3_1,Day_lvl_3_2,Day_lvl_3_3
0,00008c73ee43c15b16c26b26398c1577,134,91,5,50,22,20,21,19,1,...,0.373134,0.164179,0.149254,0.156716,0.141791,0.007463,0.007463,0,133,1
1,0000e2398b12121a85166fed5fe2a3da,47,3,2,0,0,1,0,0,43,...,0.000000,0.000000,0.021277,0.000000,0.000000,0.914894,0.063830,47,0,0
2,0001fe8dce14ce099aa6ca8ea5026ea7,234,234,4,51,7,0,26,68,42,...,0.217949,0.029915,0.000000,0.111111,0.290598,0.179487,0.170940,0,227,7
3,00027f50019000accc492e5684efc818,378,22,5,0,0,28,238,72,40,...,0.000000,0.000000,0.074074,0.629630,0.190476,0.105820,0.000000,378,0,0
4,00028c9da3573ec50db74b44310ae507,368,113,5,4,2,8,9,0,308,...,0.010870,0.005435,0.021739,0.024457,0.000000,0.836957,0.100543,0,368,0

#### Feature: Count of day level (3 levels) normalized

In [142]:
day_lvl_normalized = df_new.ix[:, ['Day_lvl_3_1', 'Day_lvl_3_2', 'Day_lvl_3_3']].apply(lambda x: x/x.sum(), axis = 1)

C:\Users\Xniper\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [143]:
day_lvl_normalized.columns = ['Day_lvl_3_1_norm', 'Day_lvl_3_2_norm', 'Day_lvl_3_3_norm']

In [144]:
df_new = pd.concat([df_new, day_lvl_normalized], axis = 1)

In [145]:
df_new.head()

,FileID,Occur_count,Occur_count_distinct_customer,Occur_count_distinct_product,Weekday_1,Weekday_2,Weekday_3,Weekday_4,Weekday_5,Weekday_6,...,Weekday_4_norm,Weekday_5_norm,Weekday_6_norm,Weekday_7_norm,Day_lvl_3_1,Day_lvl_3_2,Day_lvl_3_3,Day_lvl_3_1_norm,Day_lvl_3_2_norm,Day_lvl_3_3_norm
0,00008c73ee43c15b16c26b26398c1577,134,91,5,50,22,20,21,19,1,...,0.156716,0.141791,0.007463,0.007463,0,133,1,0.0,0.992537,0.007463
1,0000e2398b12121a85166fed5fe2a3da,47,3,2,0,0,1,0,0,43,...,0.000000,0.000000,0.914894,0.063830,47,0,0,1.0,0.000000,0.000000
2,0001fe8dce14ce099aa6ca8ea5026ea7,234,234,4,51,7,0,26,68,42,...,0.111111,0.290598,0.179487,0.170940,0,227,7,0.0,0.970085,0.029915
3,00027f50019000accc492e5684efc818,378,22,5,0,0,28,238,72,40,...,0.629630,0.190476,0.105820,0.000000,378,0,0,1.0,0.000000,0.000000
4,00028c9da3573ec50db74b44310ae507,368,113,5,4,2,8,9,0,308,...,0.024457,0.000000,0.836957,0.100543,0,368,0,0.0,1.000000,0.000000

#### Feature: Count of hour level (3 levels)

In [146]:
start_time = time.time()
for i in range(1, 4):
    hour_lvl_count = group_by_fileid['Hour_lvl_3'].agg(lambda x: np.sum(x == i))
    df_new['Hour_lvl_3_' + str(i)]  = hour_lvl_count.values
    print(i)
done_time = time.time() - start_time
print(done_time)

1
2
3
85.13196778297424

In [148]:
df_new.head()

,FileID,Occur_count,Occur_count_distinct_customer,Occur_count_distinct_product,Weekday_1,Weekday_2,Weekday_3,Weekday_4,Weekday_5,Weekday_6,...,Weekday_7_norm,Day_lvl_3_1,Day_lvl_3_2,Day_lvl_3_3,Day_lvl_3_1_norm,Day_lvl_3_2_norm,Day_lvl_3_3_norm,Hour_lvl_3_1,Hour_lvl_3_2,Hour_lvl_3_3
0,00008c73ee43c15b16c26b26398c1577,134,91,5,50,22,20,21,19,1,...,0.007463,0,133,1,0.0,0.992537,0.007463,2,86,46
1,0000e2398b12121a85166fed5fe2a3da,47,3,2,0,0,1,0,0,43,...,0.063830,47,0,0,1.0,0.000000,0.000000,0,45,2
2,0001fe8dce14ce099aa6ca8ea5026ea7,234,234,4,51,7,0,26,68,42,...,0.170940,0,227,7,0.0,0.970085,0.029915,75,84,75
3,00027f50019000accc492e5684efc818,378,22,5,0,0,28,238,72,40,...,0.000000,378,0,0,1.0,0.000000,0.000000,301,1,76
4,00028c9da3573ec50db74b44310ae507,368,113,5,4,2,8,9,0,308,...,0.100543,0,368,0,0.0,1.000000,0.000000,55,204,109

#### Feature: Count of hour level (3 levels) normalized

In [149]:
hour_lvl_normalized = df_new.ix[:, ['Hour_lvl_3_1', 'Hour_lvl_3_2', 'Hour_lvl_3_3']].apply(lambda x: x/x.sum(), axis = 1)

C:\Users\Xniper\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [150]:
hour_lvl_normalized.columns = ['Hour_lvl_3_1_norm', 'Hour_lvl_3_2_norm', 'Hour_lvl_3_3_norm']

In [156]:
df_new = pd.concat([df_new, hour_lvl_normalized], axis = 1)

In [157]:
df_new.head()

,FileID,Occur_count,Occur_count_distinct_customer,Occur_count_distinct_product,Weekday_1,Weekday_2,Weekday_3,Weekday_4,Weekday_5,Weekday_6,...,Day_lvl_3_2_norm,Day_lvl_3_3_norm,Hour_lvl_3_1,Hour_lvl_3_2,Hour_lvl_3_3,Hour_lvl_2_0,Hour_lvl_2_1,Hour_lvl_3_1_norm,Hour_lvl_3_2_norm,Hour_lvl_3_3_norm
0,00008c73ee43c15b16c26b26398c1577,134,91,5,50,22,20,21,19,1,...,0.992537,0.007463,2,86,46,2,132,0.014925,0.641791,0.343284
1,0000e2398b12121a85166fed5fe2a3da,47,3,2,0,0,1,0,0,43,...,0.000000,0.000000,0,45,2,0,47,0.000000,0.957447,0.042553
2,0001fe8dce14ce099aa6ca8ea5026ea7,234,234,4,51,7,0,26,68,42,...,0.970085,0.029915,75,84,75,100,134,0.320513,0.358974,0.320513
3,00027f50019000accc492e5684efc818,378,22,5,0,0,28,238,72,40,...,0.000000,0.000000,301,1,76,302,76,0.796296,0.002646,0.201058
4,00028c9da3573ec50db74b44310ae507,368,113,5,4,2,8,9,0,308,...,1.000000,0.000000,55,204,109,125,243,0.149457,0.554348,0.296196

#### Feature: Count of hour level (2 levels)

In [154]:
start_time = time.time()
for i in range(2):
    hour_lvl_count = group_by_fileid['Hour_lvl_2'].agg(lambda x: np.sum(x == i))
    df_new['Hour_lvl_2_' + str(i)]  = hour_lvl_count.values
    print(i)
done_time = time.time() - start_time
print(done_time)

0
1
59.69378709793091

In [153]:
list(range(2))

[0, 1]

In [158]:
df_new.head()

,FileID,Occur_count,Occur_count_distinct_customer,Occur_count_distinct_product,Weekday_1,Weekday_2,Weekday_3,Weekday_4,Weekday_5,Weekday_6,...,Day_lvl_3_2_norm,Day_lvl_3_3_norm,Hour_lvl_3_1,Hour_lvl_3_2,Hour_lvl_3_3,Hour_lvl_2_0,Hour_lvl_2_1,Hour_lvl_3_1_norm,Hour_lvl_3_2_norm,Hour_lvl_3_3_norm
0,00008c73ee43c15b16c26b26398c1577,134,91,5,50,22,20,21,19,1,...,0.992537,0.007463,2,86,46,2,132,0.014925,0.641791,0.343284
1,0000e2398b12121a85166fed5fe2a3da,47,3,2,0,0,1,0,0,43,...,0.000000,0.000000,0,45,2,0,47,0.000000,0.957447,0.042553
2,0001fe8dce14ce099aa6ca8ea5026ea7,234,234,4,51,7,0,26,68,42,...,0.970085,0.029915,75,84,75,100,134,0.320513,0.358974,0.320513
3,00027f50019000accc492e5684efc818,378,22,5,0,0,28,238,72,40,...,0.000000,0.000000,301,1,76,302,76,0.796296,0.002646,0.201058
4,00028c9da3573ec50db74b44310ae507,368,113,5,4,2,8,9,0,308,...,1.000000,0.000000,55,204,109,125,243,0.149457,0.554348,0.296196

#### Feature: Count of hour level (2 levels) normalized

In [159]:
hour_lvl_normalized = df_new.ix[:, ['Hour_lvl_2_0', 'Hour_lvl_2_1']].apply(lambda x: x/x.sum(), axis = 1)

C:\Users\Xniper\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [160]:
hour_lvl_normalized.columns = ['Hour_lvl_2_0_norm', 'Hour_lvl_2_1_norm']

In [161]:
df_new = pd.concat([df_new, hour_lvl_normalized], axis = 1)

#### Feature: Mean time interval of occurence

In [42]:
start_time = time.time()
time_interval = group_by_fileid['QueryTS'].agg(lambda x: sorted(x) if len(x) != 1 else 0)
done_time = time.time() - start_time
print(done_time)

73.0080885887146

In [44]:
time_interval[0]

[1494826826,
 1494828531,
 1494828718,
 1494828749,
 1494829209,
 1494829319,
 1494829519,
 1494829595,
 1494829910,
 1494830132,
 1494830207,
 1494831116,
 1494832116,
 1494832644,
 1494832774,
 1494833275,
 1494833414,
 1494833453,
 1494833702,
 1494833719,
 1494834168,
 1494834809,
 1494835285,
 1494835403,
 1494835414,
 1494835960,
 1494837268,
 1494837398,
 1494837443,
 1494837604,
 1494837744,
 1494838792,
 1494838902,
 1494839001,
 1494839234,
 1494839488,
 1494839748,
 1494841332,
 1494841636,
 1494843468,
 1494848112,
 1494848494,
 1494848715,
 1494850961,
 1494854024,
 1494854191,
 1494854511,
 1494860581,
 1494860581,
 1494860613,
 1494914717,
 1494917856,
 1494917965,
 1494918616,
 1494918647,
 1494918743,
 1494920009,
 1494920189,
 1494921612,
 1494922199,
 1494923063,
 1494923076,
 1494923076,
 1494923107,
 1494928722,
 1494929133,
 1494932196,
 1494935027,
 1494935926,
 1494936283,
 1494948564,
 1494949771,
 1495003870,
 1495003949,
 1495005571,
 1495005571,
 1495005589,
 1495005602,
 1495007634,
 1495008040,
 1495009625,
 1495009804,
 1495011295,
 1495014531,
 1495015788,
 1495028264,
 1495029487,
 1495029575,
 1495030998,
 1495032803,
 1495035250,
 1495036548,
 1495041193,
 1495086469,
 1495089511,
 1495090729,
 1495091604,
 1495095416,
 1495096933,
 1495097428,
 1495098650,
 1495102500,
 1495107618,
 1495109101,
 1495110555,
 1495110592,
 1495112386,
 1495114156,
 1495114187,
 1495115800,
 1495116389,
 1495118930,
 1495123091,
 1495175895,
 1495177107,
 1495178273,
 1495180198,
 1495180365,
 1495181234,
 1495181926,
 1495183872,
 1495183983,
 1495185912,
 1495187338,
 1495188575,
 1495193154,
 1495195288,
 1495196460,
 1495197460,
 1495201151,
 1495203549,
 1495207418,
 1495266408,
 1495312972]

In [37]:
start_time = time.time()
time_interval_occurence = group_by_fileid['QueryTS'].agg(lambda x: sorted(np.diff(sorted(x))) if len(x) != 1 else 0)
done_time = time.time() - start_time
print(done_time)

66.82151770591736

In [45]:
time_interval_occurence.ix[0]

[0,
 0,
 0,
 11,
 13,
 13,
 17,
 18,
 31,
 31,
 31,
 31,
 32,
 37,
 39,
 45,
 75,
 76,
 79,
 88,
 96,
 99,
 109,
 110,
 110,
 111,
 118,
 130,
 130,
 139,
 140,
 161,
 167,
 167,
 179,
 180,
 187,
 200,
 221,
 222,
 233,
 249,
 254,
 260,
 304,
 315,
 320,
 357,
 382,
 406,
 411,
 449,
 460,
 476,
 495,
 501,
 528,
 546,
 587,
 589,
 641,
 651,
 692,
 864,
 869,
 875,
 899,
 909,
 1000,
 1000,
 1048,
 1166,
 1172,
 1207,
 1212,
 1218,
 1222,
 1223,
 1237,
 1257,
 1266,
 1298,
 1308,
 1423,
 1423,
 1426,
 1454,
 1483,
 1491,
 1517,
 1584,
 1585,
 1613,
 1622,
 1705,
 1770,
 1794,
 1805,
 1832,
 1925,
 1929,
 1946,
 2032,
 2134,
 2246,
 2398,
 2447,
 2541,
 2831,
 3042,
 3063,
 3063,
 3139,
 3236,
 3691,
 3812,
 3850,
 3869,
 4161,
 4579,
 4644,
 4645,
 5118,
 5615,
 6070,
 12281,
 12476,
 45276,
 46564,
 52804,
 54099,
 54104,
 58990]

In [13]:
start_time = time.time()
time_interval_occurence_mean = group_by_fileid['QueryTS'].agg(lambda x: np.mean(sorted(np.diff(sorted(x)))) if len(x) != 1 else 0)
done_time = time.time() - start_time
print(done_time)

76.92310571670532

In [19]:
df_new['time_interval_occurence_mean'] = time_interval_occurence_mean.values

In [20]:
df_new.head()

,FileID,Occur_count,Occur_count_distinct_customer,Occur_count_distinct_product,Weekday_1,Weekday_2,Weekday_3,Weekday_4,Weekday_5,Weekday_6,...,Hour_lvl_3_2,Hour_lvl_3_3,Hour_lvl_2_0,Hour_lvl_2_1,Hour_lvl_3_1_norm,Hour_lvl_3_2_norm,Hour_lvl_3_3_norm,Hour_lvl_2_0_norm,Hour_lvl_2_1_norm,time_interval_occurence_mean
0,00008c73ee43c15b16c26b26398c1577,134,91,5,50,22,20,21,19,1,...,86,46,2,132,0.014925,0.641791,0.343284,0.014925,0.985075,3655.233083
1,0000e2398b12121a85166fed5fe2a3da,47,3,2,0,0,1,0,0,43,...,45,2,0,47,0.000000,0.957447,0.042553,0.000000,1.000000,8116.000000
2,0001fe8dce14ce099aa6ca8ea5026ea7,234,234,4,51,7,0,26,68,42,...,84,75,100,134,0.320513,0.358974,0.320513,0.427350,0.572650,1965.403433
3,00027f50019000accc492e5684efc818,378,22,5,0,0,28,238,72,40,...,1,76,302,76,0.796296,0.002646,0.201058,0.798942,0.201058,834.660477
4,00028c9da3573ec50db74b44310ae507,368,113,5,4,2,8,9,0,308,...,204,109,125,243,0.149457,0.554348,0.296196,0.339674,0.660326,1319.098093

#### Feature: Median time interval of occurence

In [21]:
start_time = time.time()
time_interval_occurence_median = group_by_fileid['QueryTS'].agg(lambda x: np.median(sorted(np.diff(sorted(x)))) if len(x) != 1 else 0)
done_time = time.time() - start_time
print(done_time)

62.909056186676025

In [22]:
df_new['time_interval_occurence_median'] = time_interval_occurence_median.values

In [23]:
df_new.head()

,FileID,Occur_count,Occur_count_distinct_customer,Occur_count_distinct_product,Weekday_1,Weekday_2,Weekday_3,Weekday_4,Weekday_5,Weekday_6,...,Hour_lvl_3_3,Hour_lvl_2_0,Hour_lvl_2_1,Hour_lvl_3_1_norm,Hour_lvl_3_2_norm,Hour_lvl_3_3_norm,Hour_lvl_2_0_norm,Hour_lvl_2_1_norm,time_interval_occurence_mean,time_interval_occurence_median
0,00008c73ee43c15b16c26b26398c1577,134,91,5,50,22,20,21,19,1,...,46,2,132,0.014925,0.641791,0.343284,0.014925,0.985075,3655.233083,899.0
1,0000e2398b12121a85166fed5fe2a3da,47,3,2,0,0,1,0,0,43,...,2,0,47,0.000000,0.957447,0.042553,0.000000,1.000000,8116.000000,2.0
2,0001fe8dce14ce099aa6ca8ea5026ea7,234,234,4,51,7,0,26,68,42,...,75,100,134,0.320513,0.358974,0.320513,0.427350,0.572650,1965.403433,1148.0
3,00027f50019000accc492e5684efc818,378,22,5,0,0,28,238,72,40,...,76,302,76,0.796296,0.002646,0.201058,0.798942,0.201058,834.660477,1.0
4,00028c9da3573ec50db74b44310ae507,368,113,5,4,2,8,9,0,308,...,109,125,243,0.149457,0.554348,0.296196,0.339674,0.660326,1319.098093,105.0

#### Feature: Max time interval of occurence

In [25]:
start_time = time.time()
time_interval_occurence_max = group_by_fileid['QueryTS'].agg(lambda x: np.max(sorted(np.diff(sorted(x)))) if len(x) != 1 else 0)
done_time = time.time() - start_time
print(done_time)

58.77956581115723

In [26]:
df_new['time_interval_occurence_max'] = time_interval_occurence_max.values

#### Feature: Min time interval of occurence

In [27]:
start_time = time.time()
time_interval_occurence_min = group_by_fileid['QueryTS'].agg(lambda x: np.min(sorted(np.diff(sorted(x)))) if len(x) != 1 else 0)
done_time = time.time() - start_time
print(done_time)

58.15316891670227

In [28]:
df_new['time_interval_occurence_min'] = time_interval_occurence_min.values

#### Feature: Standard deviation time interval of occurence

In [29]:
start_time = time.time()
time_interval_occurence_std = group_by_fileid['QueryTS'].agg(lambda x: np.std(sorted(np.diff(sorted(x)))) if len(x) != 1 else 0)
done_time = time.time() - start_time
print(done_time)

63.54436635971069

In [30]:
df_new['time_interval_occurence_std'] = time_interval_occurence_std.values

#### Feature: Q1 time interval of occurence

In [44]:
start_time = time.time()
time_interval_occurence_Q1 = group_by_fileid['QueryTS'].agg(lambda x: np.percentile(sorted(np.diff(sorted(x))), 25) if len(x) != 1 else 0)
done_time = time.time() - start_time
print(done_time)

63.58201861381531

In [45]:
df_new['time_interval_occurence_Q1'] = time_interval_occurence_Q1.values

#### Feature: Q3 time interval of occurence

In [51]:
start_time = time.time()
time_interval_occurence_Q3 = group_by_fileid['QueryTS'].agg(lambda x: np.percentile(sorted(np.diff(sorted(x))), 75) if len(x) != 1 else 0)
done_time = time.time() - start_time
print(done_time)

62.80665421485901

In [52]:
df_new['time_interval_occurence_Q3'] = time_interval_occurence_Q3.values

#### Feature: IQR time interval of occurence

In [53]:
df_new['time_interval_occurence_IQR'] = time_interval_occurence_Q3.values - time_interval_occurence_Q1.values

#### Feature: Skewness time interval of occurence

In [56]:
start_time = time.time()
time_interval_occurence_skew = group_by_fileid['QueryTS'].agg(lambda x: stats.skew(np.diff(sorted(x))) if len(x) != 1 else 0)
done_time = time.time() - start_time
print(done_time)

45.35559296607971

In [40]:
df_new['time_interval_occurence_skew'] = time_interval_occurence_skew.values

#### Feature: Kurtosis time interval of occurence

In [41]:
start_time = time.time()
time_interval_occurence_kurtosis = group_by_fileid['QueryTS'].agg(lambda x: stats.kurtosis(sorted(np.diff(sorted(x)))) if len(x) != 1 else -3.0)
done_time = time.time() - start_time
print(done_time)

74.30714869499207

In [42]:
df_new['time_interval_occurence_kurtosis'] = time_interval_occurence_kurtosis.values

In [63]:
df_new.head()

,FileID,Occur_count,Occur_count_distinct_customer,Occur_count_distinct_product,Weekday_1,Weekday_2,Weekday_3,Weekday_4,Weekday_5,Weekday_6,...,time_interval_occurence_mean,time_interval_occurence_median,time_interval_occurence_max,time_interval_occurence_min,time_interval_occurence_std,time_interval_occurence_Q1,time_interval_occurence_Q3,time_interval_occurence_IQR,time_interval_occurence_skew,time_interval_occurence_kurtosis
0,00008c73ee43c15b16c26b26398c1577,134,91,5,50,22,20,21,19,1,...,3655.233083,899.0,58990,0,10716.700970,167.0,1925.0,1758.0,4.241291,16.709276
1,0000e2398b12121a85166fed5fe2a3da,47,3,2,0,0,1,0,0,43,...,8116.000000,2.0,287902,0,42742.079069,1.0,3.0,2.0,6.138210,36.975411
2,0001fe8dce14ce099aa6ca8ea5026ea7,234,234,4,51,7,0,26,68,42,...,1965.403433,1148.0,22908,6,2880.960459,392.0,2088.0,1696.0,3.661034,17.368213
3,00027f50019000accc492e5684efc818,378,22,5,0,0,28,238,72,40,...,834.660477,1.0,56130,0,5352.852121,0.0,20.0,20.0,8.785862,79.641611
4,00028c9da3573ec50db74b44310ae507,368,113,5,4,2,8,9,0,308,...,1319.098093,105.0,80033,0,6874.384601,12.0,380.0,368.0,8.146755,73.500367

#### Feature: Time interval range

In [158]:
df_new['time_interval_occurence_range'] = df_new['time_interval_occurence_max'] - df_new['time_interval_occurence_min']

#### Feature: Occurence ratio on each month (3, 4, 5)

In [235]:
start_time = time.time()
for i in range(3, 6):
    month_count = group_by_fileid['Month'].agg(lambda x: np.sum(x == i))
    df_new['Month_' + str(i)]  = month_count.values
    print(i)
done_time = time.time() - start_time
print(done_time)

3
4
5
95.06116580963135

In [238]:
df_new.ix[:, ['Month_3', 'Month_4', 'Month_5']] = df_new.ix[:, ['Month_3', 'Month_4', 'Month_5']].apply(lambda x: x/x.sum(), axis = 1)

#### Feature: Occurence of each ProductID

In [49]:
unique_product

['885fab',
 '262880',
 'aaa9c8',
 'dd8d4a',
 '055649',
 '75f310',
 '8452da',
 '634e6b',
 'c105a0',
 '20f8a5',
 '05b409',
 '3ea8c3',
 'a310bb',
 '3c2be6',
 '8b7f69',
 'b93794',
 '0cdb7a',
 'fec24f',
 'e47f04',
 'c76d58',
 '218578',
 '8541a0',
 '533133',
 '26a5d0',
 'd465fc',
 '0374c4',
 'cc3a6a',
 '7acab3']

In [53]:
start_time = time.time()
for i in unique_product:
    product_count = group_by_fileid['ProductID'].agg(lambda x: np.sum(x == i))
    df_new['ProductID_' + str(i)]  = product_count.values
    print(i)
done_time = time.time() - start_time
print(done_time)

885fab
262880
aaa9c8
dd8d4a
055649
75f310
8452da
634e6b
c105a0
20f8a5
05b409
3ea8c3
a310bb
3c2be6
8b7f69
b93794
0cdb7a
fec24f
e47f04
c76d58
218578
8541a0
533133
26a5d0
d465fc
0374c4
cc3a6a
7acab3
1529.036619901657

#### Feature: Count of each type of user with different owning product type

In [60]:
start_time = time.time()
a = group_by_fileid['CustomerID'].agg(lambda x: [customer_to_product[x] for x in list(set(x))])
done_time = time.time() - start_time
print(done_time)

86.64913272857666

In [84]:
start_time = time.time()
for i in [1, 2, 3, 4, 7]:
    df_new['Num_of_product_type_customer_cnt_' + str(i)]  = np.array([np.sum(np.array(a[ind]) == i) for ind in range(a.shape[0])])
    print(i)
done_time = time.time() - start_time
print(done_time)

1
2
3
4
7
65.59077858924866

In [88]:
np.sum(df_new['Num_of_product_type_customer_cnt_1'])

48581300

#### Feature: Occurence of each hour

In [107]:
start_time = time.time()
for i in list(set(df['Hour'])):
    Hour_count = group_by_fileid['Hour'].agg(lambda x: np.sum(x == i))
    df_new['Hour_' + str(i)]  = Hour_count.values
    print(i)
done_time = time.time() - start_time
print(done_time)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
648.593151807785

In [109]:
df_new.columns[80:]

Index(['Num_of_product_type_customer_cnt_7', 'Hour_0', 'Hour_1', 'Hour_2',
       'Hour_3', 'Hour_4', 'Hour_5', 'Hour_6', 'Hour_7', 'Hour_8', 'Hour_9',
       'Hour_10', 'Hour_11', 'Hour_12', 'Hour_13', 'Hour_14', 'Hour_15',
       'Hour_16', 'Hour_17', 'Hour_18', 'Hour_19', 'Hour_20', 'Hour_21',
       'Hour_22', 'Hour_23'],
      dtype='object')

#### Feature: Occurence of each hour normalized

In [110]:
Hour_count_normalized = df_new.ix[:, ['Hour_0', 'Hour_1', 'Hour_2',
       'Hour_3', 'Hour_4', 'Hour_5', 'Hour_6', 'Hour_7', 'Hour_8', 'Hour_9',
       'Hour_10', 'Hour_11', 'Hour_12', 'Hour_13', 'Hour_14', 'Hour_15',
       'Hour_16', 'Hour_17', 'Hour_18', 'Hour_19', 'Hour_20', 'Hour_21',
       'Hour_22', 'Hour_23']].apply(lambda x: x/x.sum(), axis = 1)

In [112]:
[x+'_norm' for x in ['Hour_0', 'Hour_1', 'Hour_2',
       'Hour_3', 'Hour_4', 'Hour_5', 'Hour_6', 'Hour_7', 'Hour_8', 'Hour_9',
       'Hour_10', 'Hour_11', 'Hour_12', 'Hour_13', 'Hour_14', 'Hour_15',
       'Hour_16', 'Hour_17', 'Hour_18', 'Hour_19', 'Hour_20', 'Hour_21',
       'Hour_22', 'Hour_23']]

['Hour_0_norm',
 'Hour_1_norm',
 'Hour_2_norm',
 'Hour_3_norm',
 'Hour_4_norm',
 'Hour_5_norm',
 'Hour_6_norm',
 'Hour_7_norm',
 'Hour_8_norm',
 'Hour_9_norm',
 'Hour_10_norm',
 'Hour_11_norm',
 'Hour_12_norm',
 'Hour_13_norm',
 'Hour_14_norm',
 'Hour_15_norm',
 'Hour_16_norm',
 'Hour_17_norm',
 'Hour_18_norm',
 'Hour_19_norm',
 'Hour_20_norm',
 'Hour_21_norm',
 'Hour_22_norm',
 'Hour_23_norm']

In [113]:
Hour_count_normalized.columns = ['Hour_0_norm',
 'Hour_1_norm',
 'Hour_2_norm',
 'Hour_3_norm',
 'Hour_4_norm',
 'Hour_5_norm',
 'Hour_6_norm',
 'Hour_7_norm',
 'Hour_8_norm',
 'Hour_9_norm',
 'Hour_10_norm',
 'Hour_11_norm',
 'Hour_12_norm',
 'Hour_13_norm',
 'Hour_14_norm',
 'Hour_15_norm',
 'Hour_16_norm',
 'Hour_17_norm',
 'Hour_18_norm',
 'Hour_19_norm',
 'Hour_20_norm',
 'Hour_21_norm',
 'Hour_22_norm',
 'Hour_23_norm']

In [114]:
df_new = pd.concat([df_new, Hour_count_normalized], axis = 1)

#### Feature: Count of first character of the CustomerID

In [17]:
first_character_list = list(Counter(first_list).keys())

In [20]:
first_character_list = sorted(first_character_list)

In [27]:
first_character_list

['0',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 'a',
 'b',
 'c',
 'd',
 'e',
 'f']

In [28]:
start_time = time.time()
for i in first_character_list:
    First_character_count = group_by_fileid['CustomerID_first'].agg(lambda x: np.sum(x == i))
    df_new['First_character_' + str(i)]  = First_character_count.values
    print(i)
done_time = time.time() - start_time
print(done_time)

0
1
2
3
4
5
6
7
8
9
a
b
c
d
e
f
908.5021018981934

In [32]:
df_new.columns[100:]

Index(['Hour_19', 'Hour_20', 'Hour_21', 'Hour_22', 'Hour_23', 'Hour_0_norm',
       'Hour_1_norm', 'Hour_2_norm', 'Hour_3_norm', 'Hour_4_norm',
       'Hour_5_norm', 'Hour_6_norm', 'Hour_7_norm', 'Hour_8_norm',
       'Hour_9_norm', 'Hour_10_norm', 'Hour_11_norm', 'Hour_12_norm',
       'Hour_13_norm', 'Hour_14_norm', 'Hour_15_norm', 'Hour_16_norm',
       'Hour_17_norm', 'Hour_18_norm', 'Hour_19_norm', 'Hour_20_norm',
       'Hour_21_norm', 'Hour_22_norm', 'Hour_23_norm', 'First_character_0',
       'First_character_1', 'First_character_2', 'First_character_3',
       'First_character_4', 'First_character_5', 'First_character_6',
       'First_character_7', 'First_character_8', 'First_character_9',
       'First_character_a', 'First_character_b', 'First_character_c',
       'First_character_d', 'First_character_e', 'First_character_f'],
      dtype='object')

#### Feature: Count of first character of the CustomerID normalized

In [33]:
First_character_count_normalized = df_new.ix[:, ['First_character_0',
       'First_character_1', 'First_character_2', 'First_character_3',
       'First_character_4', 'First_character_5', 'First_character_6',
       'First_character_7', 'First_character_8', 'First_character_9',
       'First_character_a', 'First_character_b', 'First_character_c',
       'First_character_d', 'First_character_e', 'First_character_f']].apply(lambda x: x/x.sum(), axis = 1)

C:\Users\Xniper\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [35]:
First_character_count_normalized.columns = ['First_character_0_norm',
 'First_character_1_norm',
 'First_character_2_norm',
 'First_character_3_norm',
 'First_character_4_norm',
 'First_character_5_norm',
 'First_character_6_norm',
 'First_character_7_norm',
 'First_character_8_norm',
 'First_character_9_norm',
 'First_character_a_norm',
 'First_character_b_norm',
 'First_character_c_norm',
 'First_character_d_norm',
 'First_character_e_norm',
 'First_character_f_norm']

In [36]:
df_new = pd.concat([df_new, First_character_count_normalized], axis = 1)

#### Feature: Count of each day

In [9]:
start_time = time.time()
for i in range(1, 32):
    Day_count = group_by_fileid['Day'].agg(lambda x: np.sum(x == i))
    df_new['Day_' + str(i)]  = Day_count.values
    print(i)
done_time = time.time() - start_time
print(done_time)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
813.6743688583374

#### Feature: Count of each day normalized

In [11]:
[x+'_norm' for x in ['Day_1', 'Day_2', 'Day_3', 'Day_4', 'Day_5',
       'Day_6', 'Day_7', 'Day_8', 'Day_9', 'Day_10', 'Day_11', 'Day_12',
       'Day_13', 'Day_14', 'Day_15', 'Day_16', 'Day_17', 'Day_18', 'Day_19',
       'Day_20', 'Day_21', 'Day_22', 'Day_23', 'Day_24', 'Day_25', 'Day_26',
       'Day_27', 'Day_28', 'Day_29', 'Day_30', 'Day_31']]

['Day_1_norm',
 'Day_2_norm',
 'Day_3_norm',
 'Day_4_norm',
 'Day_5_norm',
 'Day_6_norm',
 'Day_7_norm',
 'Day_8_norm',
 'Day_9_norm',
 'Day_10_norm',
 'Day_11_norm',
 'Day_12_norm',
 'Day_13_norm',
 'Day_14_norm',
 'Day_15_norm',
 'Day_16_norm',
 'Day_17_norm',
 'Day_18_norm',
 'Day_19_norm',
 'Day_20_norm',
 'Day_21_norm',
 'Day_22_norm',
 'Day_23_norm',
 'Day_24_norm',
 'Day_25_norm',
 'Day_26_norm',
 'Day_27_norm',
 'Day_28_norm',
 'Day_29_norm',
 'Day_30_norm',
 'Day_31_norm']

In [12]:
Day_count_normalized = df_new.ix[:, ['Day_1', 'Day_2', 'Day_3', 'Day_4', 'Day_5',
       'Day_6', 'Day_7', 'Day_8', 'Day_9', 'Day_10', 'Day_11', 'Day_12',
       'Day_13', 'Day_14', 'Day_15', 'Day_16', 'Day_17', 'Day_18', 'Day_19',
       'Day_20', 'Day_21', 'Day_22', 'Day_23', 'Day_24', 'Day_25', 'Day_26',
       'Day_27', 'Day_28', 'Day_29', 'Day_30', 'Day_31']].apply(lambda x: x/x.sum(), axis = 1)

C:\Users\Xniper\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [13]:
Day_count_normalized.columns = ['Day_1_norm',
 'Day_2_norm',
 'Day_3_norm',
 'Day_4_norm',
 'Day_5_norm',
 'Day_6_norm',
 'Day_7_norm',
 'Day_8_norm',
 'Day_9_norm',
 'Day_10_norm',
 'Day_11_norm',
 'Day_12_norm',
 'Day_13_norm',
 'Day_14_norm',
 'Day_15_norm',
 'Day_16_norm',
 'Day_17_norm',
 'Day_18_norm',
 'Day_19_norm',
 'Day_20_norm',
 'Day_21_norm',
 'Day_22_norm',
 'Day_23_norm',
 'Day_24_norm',
 'Day_25_norm',
 'Day_26_norm',
 'Day_27_norm',
 'Day_28_norm',
 'Day_29_norm',
 'Day_30_norm',
 'Day_31_norm']

In [14]:
df_new = pd.concat([df_new, Day_count_normalized], axis = 1)

#### Feature: Occur count normalized by time

In [8]:
start_time = time.time()
time_interval = group_by_fileid['QueryTS'].agg(lambda x: np.max(sorted(x)) - np.min(sorted(x)))
done_time = time.time() - start_time
print(done_time)

67.35878109931946

In [18]:
start_time = time.time()
time_interval_normalized = [df_new['Occur_count'].values[i]/time_interval[i] if time_interval[i] != 0 else 0 for i in range(df_new.shape[0])]
done_time = time.time() - start_time
print(done_time)

2.9605212211608887

In [22]:
df_new['Occur_count_normalized_by_time'] = time_interval_normalized

#### Feature: QueryTS mean

In [43]:
start_time = time.time()
time_mean = group_by_fileid['QueryTS'].agg(lambda x: np.mean(x))
done_time = time.time() - start_time
print(done_time)

20.47404193878174

In [102]:
df_new['QueryTS_mean'] = time_mean.values

#### Feature: QueryTS median

In [49]:
start_time = time.time()
time_median = group_by_fileid['QueryTS'].agg(lambda x: np.median(x))
done_time = time.time() - start_time
print(done_time)

8.728284120559692

In [103]:
df_new['QueryTS_median'] = time_median.values

#### Feature: QueryTS standard deviation

In [51]:
start_time = time.time()
time_std = group_by_fileid['QueryTS'].agg(lambda x: np.std(x))
done_time = time.time() - start_time
print(done_time)

9.409985542297363

In [104]:
df_new['QueryTS_std'] = time_std.values

#### Feature: QueryTS Minimum

In [13]:
start_time = time.time()
time_min = group_by_fileid['QueryTS'].agg(lambda x: np.min(x))
done_time = time.time() - start_time
print(done_time)

30.910993814468384

In [15]:
df_new['QueryTS_min'] = time_min.values

#### Feature: QueryTS Range (Lifetime)

In [14]:
start_time = time.time()
time_range = group_by_fileid['QueryTS'].agg(lambda x: np.max(x) - np.min(x))
done_time = time.time() - start_time
print(done_time)

16.372942209243774

In [16]:
df_new['QueryTS_range'] = time_range.values

#### Feature: Time interval mean by month

In [6]:
group_by_fileid_month = df.groupby(['FileID', 'Month'])
group_by_fileid_month_test = df.ix[0:30000, ].groupby(['FileID', 'Month'])

C:\Users\Xniper\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

In [63]:
start_time = time.time()
time_interval_month_mean = group_by_fileid_month['QueryTS'].agg(lambda x: np.mean(sorted(np.diff(sorted(x)))) if len(x) != 1 else 0)
done_time = time.time() - start_time
print(done_time)

50.99797606468201

In [65]:
time_interval_month_mean = time_interval_month_mean.unstack().fillna(0)

In [66]:
time_interval_month_mean.columns = ['time_interval_occurrence_mean_by_month_3', 
                                   'time_interval_occurrence_mean_by_month_4',
                                   'time_interval_occurrence_mean_by_month_5']
time_interval_month_mean.index = np.arange(time_interval_month_mean.shape[0])

In [107]:
df_new = pd.concat([df_new, time_interval_month_mean], axis = 1)

In [108]:
df_new.head()

,FileID,Occur_count,Occur_count_distinct_customer,Occur_count_distinct_product,Weekday_1,Weekday_2,Weekday_3,Weekday_4,Weekday_5,Weekday_6,...,Day_29_norm,Day_30_norm,Day_31_norm,Occur_count_normalized_by_time,QueryTS_mean,QueryTS_median,QueryTS_std,time_interval_occurrence_mean_by_month_3,time_interval_occurrence_mean_by_month_4,time_interval_occurrence_mean_by_month_5
0,00008c73ee43c15b16c26b26398c1577,134,91,5,50,22,20,21,19,1,...,0.0,0.0,0.0,0.000276,1.494977e+09,1.494934e+09,134925.330223,0.000000,0.000000,3655.233083
1,0000e2398b12121a85166fed5fe2a3da,47,3,2,0,0,1,0,0,43,...,0.0,0.0,0.0,0.000126,1.488628e+09,1.488615e+09,55698.996209,8116.000000,0.000000,0.000000
2,0001fe8dce14ce099aa6ca8ea5026ea7,234,234,4,51,7,0,26,68,42,...,0.0,0.0,0.0,0.000511,1.489831e+09,1.489819e+09,124599.754761,1965.403433,0.000000,0.000000
3,00027f50019000accc492e5684efc818,378,22,5,0,0,28,238,72,40,...,0.0,0.0,0.0,0.001201,1.491459e+09,1.491416e+09,74208.185034,0.000000,834.660477,0.000000
4,00028c9da3573ec50db74b44310ae507,368,113,5,4,2,8,9,0,308,...,0.0,0.0,0.0,0.000760,1.492268e+09,1.492246e+09,86605.454701,0.000000,1319.098093,0.000000

#### Feature: Time interval median by month

In [69]:
start_time = time.time()
time_interval_month_median = group_by_fileid_month['QueryTS'].agg(lambda x: np.median(sorted(np.diff(sorted(x)))) if len(x) != 1 else 0)
done_time = time.time() - start_time
print(done_time)

53.354126930236816

In [70]:
time_interval_month_median = time_interval_month_median.unstack().fillna(0)

In [71]:
time_interval_month_median.columns = ['time_interval_occurrence_median_by_month_3', 
                                   'time_interval_occurrence_median_by_month_4',
                                   'time_interval_occurrence_median_by_month_5']
time_interval_month_median.index = np.arange(time_interval_month_median.shape[0])

In [109]:
df_new = pd.concat([df_new, time_interval_month_median], axis = 1)

In [110]:
df_new.head()

,FileID,Occur_count,Occur_count_distinct_customer,Occur_count_distinct_product,Weekday_1,Weekday_2,Weekday_3,Weekday_4,Weekday_5,Weekday_6,...,Occur_count_normalized_by_time,QueryTS_mean,QueryTS_median,QueryTS_std,time_interval_occurrence_mean_by_month_3,time_interval_occurrence_mean_by_month_4,time_interval_occurrence_mean_by_month_5,time_interval_occurrence_median_by_month_3,time_interval_occurrence_median_by_month_4,time_interval_occurrence_median_by_month_5
0,00008c73ee43c15b16c26b26398c1577,134,91,5,50,22,20,21,19,1,...,0.000276,1.494977e+09,1.494934e+09,134925.330223,0.000000,0.000000,3655.233083,0.0,0.0,899.0
1,0000e2398b12121a85166fed5fe2a3da,47,3,2,0,0,1,0,0,43,...,0.000126,1.488628e+09,1.488615e+09,55698.996209,8116.000000,0.000000,0.000000,2.0,0.0,0.0
2,0001fe8dce14ce099aa6ca8ea5026ea7,234,234,4,51,7,0,26,68,42,...,0.000511,1.489831e+09,1.489819e+09,124599.754761,1965.403433,0.000000,0.000000,1148.0,0.0,0.0
3,00027f50019000accc492e5684efc818,378,22,5,0,0,28,238,72,40,...,0.001201,1.491459e+09,1.491416e+09,74208.185034,0.000000,834.660477,0.000000,0.0,1.0,0.0
4,00028c9da3573ec50db74b44310ae507,368,113,5,4,2,8,9,0,308,...,0.000760,1.492268e+09,1.492246e+09,86605.454701,0.000000,1319.098093,0.000000,0.0,105.0,0.0

#### Feature: Time interval standard deviation by month

In [74]:
start_time = time.time()
time_interval_month_std = group_by_fileid_month['QueryTS'].agg(lambda x: np.std(sorted(np.diff(sorted(x)))) if len(x) != 1 else 0)
done_time = time.time() - start_time
print(done_time)

57.605475664138794

In [75]:
time_interval_month_std = time_interval_month_std.unstack().fillna(0)

In [76]:
time_interval_month_std.columns = ['time_interval_occurrence_std_by_month_3', 
                                   'time_interval_occurrence_std_by_month_4',
                                   'time_interval_occurrence_std_by_month_5']
time_interval_month_std.index = np.arange(time_interval_month_std.shape[0])

In [111]:
df_new = pd.concat([df_new, time_interval_month_std], axis = 1)

#### Feature: Time interval max by month

In [80]:
start_time = time.time()
time_interval_month_max = group_by_fileid_month['QueryTS'].agg(lambda x: np.max(sorted(np.diff(sorted(x)))) if len(x) != 1 else 0)
done_time = time.time() - start_time
print(done_time)

51.78500986099243

In [81]:
time_interval_month_max = time_interval_month_max.unstack().fillna(0)

In [82]:
time_interval_month_max.columns = ['time_interval_occurrence_max_by_month_3', 
                                   'time_interval_occurrence_max_by_month_4',
                                   'time_interval_occurrence_max_by_month_5']
time_interval_month_max.index = np.arange(time_interval_month_max.shape[0])

In [112]:
df_new = pd.concat([df_new, time_interval_month_max], axis = 1)

#### Feature: Time interval min by month

In [84]:
start_time = time.time()
time_interval_month_min = group_by_fileid_month['QueryTS'].agg(lambda x: np.min(sorted(np.diff(sorted(x)))) if len(x) != 1 else 0)
done_time = time.time() - start_time
print(done_time)

52.616493225097656

In [85]:
time_interval_month_min = time_interval_month_min.unstack().fillna(0)

In [86]:
time_interval_month_min.columns = ['time_interval_occurrence_min_by_month_3', 
                                   'time_interval_occurrence_min_by_month_4',
                                   'time_interval_occurrence_min_by_month_5']
time_interval_month_min.index = np.arange(time_interval_month_min.shape[0])

In [113]:
df_new = pd.concat([df_new, time_interval_month_min], axis = 1)

#### Feature: Time interval Q1 by month

In [89]:
start_time = time.time()
time_interval_month_Q1 = group_by_fileid_month['QueryTS'].agg(lambda x: np.percentile(sorted(np.diff(sorted(x))), 25) if len(x) != 1 else 0)
done_time = time.time() - start_time
print(done_time)

58.9194815158844

In [90]:
time_interval_month_Q1 = time_interval_month_Q1.unstack().fillna(0)

In [92]:
time_interval_month_Q1.columns = ['time_interval_occurrence_Q1_by_month_3', 
                                   'time_interval_occurrence_Q1_by_month_4',
                                   'time_interval_occurrence_Q1_by_month_5']
time_interval_month_Q1.index = np.arange(time_interval_month_Q1.shape[0])

In [114]:
df_new = pd.concat([df_new, time_interval_month_Q1], axis = 1)

#### Feature: Time interval Q3 by month

In [94]:
start_time = time.time()
time_interval_month_Q3 = group_by_fileid_month['QueryTS'].agg(lambda x: np.percentile(sorted(np.diff(sorted(x))), 75) if len(x) != 1 else 0)
done_time = time.time() - start_time
print(done_time)

55.71590566635132

In [95]:
time_interval_month_Q3 = time_interval_month_Q3.unstack().fillna(0)

In [96]:
time_interval_month_Q3.columns = ['time_interval_occurrence_Q3_by_month_3', 
                                   'time_interval_occurrence_Q3_by_month_4',
                                   'time_interval_occurrence_Q3_by_month_5']
time_interval_month_Q3.index = np.arange(time_interval_month_Q3.shape[0])

In [115]:
df_new = pd.concat([df_new, time_interval_month_Q3], axis = 1)

In [116]:
df_new.head()

,FileID,Occur_count,Occur_count_distinct_customer,Occur_count_distinct_product,Weekday_1,Weekday_2,Weekday_3,Weekday_4,Weekday_5,Weekday_6,...,time_interval_occurrence_max_by_month_5,time_interval_occurrence_min_by_month_3,time_interval_occurrence_min_by_month_4,time_interval_occurrence_min_by_month_5,time_interval_occurrence_Q1_by_month_3,time_interval_occurrence_Q1_by_month_4,time_interval_occurrence_Q1_by_month_5,time_interval_occurrence_Q3_by_month_3,time_interval_occurrence_Q3_by_month_4,time_interval_occurrence_Q3_by_month_5
0,00008c73ee43c15b16c26b26398c1577,134,91,5,50,22,20,21,19,1,...,58990.0,0.0,0.0,0.0,0.0,0.0,167.0,0.0,0.0,1925.0
1,0000e2398b12121a85166fed5fe2a3da,47,3,2,0,0,1,0,0,43,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,3.0,0.0,0.0
2,0001fe8dce14ce099aa6ca8ea5026ea7,234,234,4,51,7,0,26,68,42,...,0.0,6.0,0.0,0.0,392.0,0.0,0.0,2088.0,0.0,0.0
3,00027f50019000accc492e5684efc818,378,22,5,0,0,28,238,72,40,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.0,0.0
4,00028c9da3573ec50db74b44310ae507,368,113,5,4,2,8,9,0,308,...,0.0,0.0,0.0,0.0,0.0,12.0,0.0,0.0,380.0,0.0

#### Feature: Occurrence of Single ProductID by Month

In [10]:
start_time = time.time()
Count_of_unique_product_by_month = group_by_fileid_month['ProductID'].agg(lambda x: len(set(x)))
done_time = time.time() - start_time
print(done_time)

42.493870973587036

In [12]:
Count_of_unique_product_by_month = Count_of_unique_product_by_month.unstack().fillna(0)

In [15]:
Count_of_unique_product_by_month.columns = ['Count_of_unique_product_by_month_3', 
                                   'Count_of_unique_product_by_month_4',
                                   'Count_of_unique_product_by_month_5']
Count_of_unique_product_by_month.index = np.arange(Count_of_unique_product_by_month.shape[0])

In [18]:
df_new = pd.concat([df_new, Count_of_unique_product_by_month], axis = 1)

In [19]:
df_new.head()

,FileID,Occur_count,Occur_count_distinct_customer,Occur_count_distinct_product,Weekday_1,Weekday_2,Weekday_3,Weekday_4,Weekday_5,Weekday_6,...,time_interval_occurrence_min_by_month_5,time_interval_occurrence_Q1_by_month_3,time_interval_occurrence_Q1_by_month_4,time_interval_occurrence_Q1_by_month_5,time_interval_occurrence_Q3_by_month_3,time_interval_occurrence_Q3_by_month_4,time_interval_occurrence_Q3_by_month_5,Count_of_unique_product_by_month_3,Count_of_unique_product_by_month_4,Count_of_unique_product_by_month_5
0,00008c73ee43c15b16c26b26398c1577,134,91,5,50,22,20,21,19,1,...,0.0,0.0,0.0,167.0,0.0,0.0,1925.0,0.0,0.0,5.0
1,0000e2398b12121a85166fed5fe2a3da,47,3,2,0,0,1,0,0,43,...,0.0,1.0,0.0,0.0,3.0,0.0,0.0,2.0,0.0,0.0
2,0001fe8dce14ce099aa6ca8ea5026ea7,234,234,4,51,7,0,26,68,42,...,0.0,392.0,0.0,0.0,2088.0,0.0,0.0,4.0,0.0,0.0
3,00027f50019000accc492e5684efc818,378,22,5,0,0,28,238,72,40,...,0.0,0.0,0.0,0.0,0.0,20.0,0.0,0.0,5.0,0.0
4,00028c9da3573ec50db74b44310ae507,368,113,5,4,2,8,9,0,308,...,0.0,0.0,12.0,0.0,0.0,380.0,0.0,0.0,5.0,0.0

#### Feature: Occurrence of Single CustomerID by Month

In [21]:
start_time = time.time()
Count_of_unique_customer_by_month = group_by_fileid_month['CustomerID'].agg(lambda x: len(set(x)))
done_time = time.time() - start_time
print(done_time)

37.556233406066895

In [22]:
Count_of_unique_customer_by_month = Count_of_unique_customer_by_month.unstack().fillna(0)

In [24]:
Count_of_unique_customer_by_month.columns = ['Count_of_unique_customer_by_month_3', 
                                   'Count_of_unique_customer_by_month_4',
                                   'Count_of_unique_customer_by_month_5']
Count_of_unique_customer_by_month.index = np.arange(Count_of_unique_customer_by_month.shape[0])

In [25]:
df_new = pd.concat([df_new, Count_of_unique_customer_by_month], axis = 1)

In [26]:
df_new.head()

,FileID,Occur_count,Occur_count_distinct_customer,Occur_count_distinct_product,Weekday_1,Weekday_2,Weekday_3,Weekday_4,Weekday_5,Weekday_6,...,time_interval_occurrence_Q1_by_month_5,time_interval_occurrence_Q3_by_month_3,time_interval_occurrence_Q3_by_month_4,time_interval_occurrence_Q3_by_month_5,Count_of_unique_product_by_month_3,Count_of_unique_product_by_month_4,Count_of_unique_product_by_month_5,Count_of_unique_customer_by_month_3,Count_of_unique_customer_by_month_4,Count_of_unique_customer_by_month_5
0,00008c73ee43c15b16c26b26398c1577,134,91,5,50,22,20,21,19,1,...,167.0,0.0,0.0,1925.0,0.0,0.0,5.0,0.0,0.0,91.0
1,0000e2398b12121a85166fed5fe2a3da,47,3,2,0,0,1,0,0,43,...,0.0,3.0,0.0,0.0,2.0,0.0,0.0,3.0,0.0,0.0
2,0001fe8dce14ce099aa6ca8ea5026ea7,234,234,4,51,7,0,26,68,42,...,0.0,2088.0,0.0,0.0,4.0,0.0,0.0,234.0,0.0,0.0
3,00027f50019000accc492e5684efc818,378,22,5,0,0,28,238,72,40,...,0.0,0.0,20.0,0.0,0.0,5.0,0.0,0.0,22.0,0.0
4,00028c9da3573ec50db74b44310ae507,368,113,5,4,2,8,9,0,308,...,0.0,0.0,380.0,0.0,0.0,5.0,0.0,0.0,113.0,0.0

#### Feature: Occur on product for single customer

In [44]:
unique_product = list(set(df['ProductID']))

In [54]:
len(unique_product)

28

In [46]:
start_time = time.time()
for i in unique_product:
    product_count = group_by_fileid['CustomerID_ProductID'].agg(lambda x: len([j for j in list(set(x)) if (i in j)]))
    df_new['ProductID_' + str(i)+'_single_user']  = product_count.values
    print(i)
done_time = time.time() - start_time
print(done_time)

c105a0
218578
0cdb7a
8b7f69
26a5d0
b93794
055649
20f8a5
c76d58
8452da
533133
7acab3
fec24f
aaa9c8
cc3a6a
885fab
8541a0
3c2be6
3ea8c3
e47f04
75f310
d465fc
05b409
634e6b
dd8d4a
0374c4
262880
a310bb
1338.1674582958221

In [56]:
df_new.ix[:, 256:284].head().sum(axis = 1)

0     91
1      3
2    234
3     22
4    113
dtype: int64

#### Features

In [57]:
df_new.ix[:, 48:76].head().sum(axis = 1)

0    134
1     47
2    234
3    378
4    368
dtype: int64

In [27]:
df_new.columns

Index(['FileID', 'Occur_count', 'Occur_count_distinct_customer',
       'Occur_count_distinct_product', 'Weekday_1', 'Weekday_2', 'Weekday_3',
       'Weekday_4', 'Weekday_5', 'Weekday_6',
       ...
       'time_interval_occurrence_Q1_by_month_5',
       'time_interval_occurrence_Q3_by_month_3',
       'time_interval_occurrence_Q3_by_month_4',
       'time_interval_occurrence_Q3_by_month_5',
       'Count_of_unique_product_by_month_3',
       'Count_of_unique_product_by_month_4',
       'Count_of_unique_product_by_month_5',
       'Count_of_unique_customer_by_month_3',
       'Count_of_unique_customer_by_month_4',
       'Count_of_unique_customer_by_month_5'],
      dtype='object', length=254)

In [28]:
df_new.to_csv('df_new.csv', index = None)

In [119]:
df_new.head()

,FileID,Occur_count,Occur_count_distinct_customer,Occur_count_distinct_product,Weekday_1,Weekday_2,Weekday_3,Weekday_4,Weekday_5,Weekday_6,...,time_interval_occurrence_max_by_month_5,time_interval_occurrence_min_by_month_3,time_interval_occurrence_min_by_month_4,time_interval_occurrence_min_by_month_5,time_interval_occurrence_Q1_by_month_3,time_interval_occurrence_Q1_by_month_4,time_interval_occurrence_Q1_by_month_5,time_interval_occurrence_Q3_by_month_3,time_interval_occurrence_Q3_by_month_4,time_interval_occurrence_Q3_by_month_5
0,00008c73ee43c15b16c26b26398c1577,134,91,5,50,22,20,21,19,1,...,58990.0,0.0,0.0,0.0,0.0,0.0,167.0,0.0,0.0,1925.0
1,0000e2398b12121a85166fed5fe2a3da,47,3,2,0,0,1,0,0,43,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,3.0,0.0,0.0
2,0001fe8dce14ce099aa6ca8ea5026ea7,234,234,4,51,7,0,26,68,42,...,0.0,6.0,0.0,0.0,392.0,0.0,0.0,2088.0,0.0,0.0
3,00027f50019000accc492e5684efc818,378,22,5,0,0,28,238,72,40,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.0,0.0
4,00028c9da3573ec50db74b44310ae507,368,113,5,4,2,8,9,0,308,...,0.0,0.0,0.0,0.0,0.0,12.0,0.0,0.0,380.0,0.0

## Process the data

#### If there are new features, run the following code:

In [29]:
df_train = pd.read_csv('training-set_new.csv', header = None, names = ['FileID', 'Target'])
df_test = pd.read_csv('testing-set_new.csv', header = None, names = ['FileID', 'Target'])

In [30]:
df_train = df_train.merge(df_new.ix[df_new['FileID'].isin(df_train['FileID'].values), ],
              left_on='FileID', right_on='FileID')

C:\Users\Xniper\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [31]:
df_train.shape

(52518, 255)

In [32]:
df_train.head()

,FileID,Target,Occur_count,Occur_count_distinct_customer,Occur_count_distinct_product,Weekday_1,Weekday_2,Weekday_3,Weekday_4,Weekday_5,...,time_interval_occurrence_Q1_by_month_5,time_interval_occurrence_Q3_by_month_3,time_interval_occurrence_Q3_by_month_4,time_interval_occurrence_Q3_by_month_5,Count_of_unique_product_by_month_3,Count_of_unique_product_by_month_4,Count_of_unique_product_by_month_5,Count_of_unique_customer_by_month_3,Count_of_unique_customer_by_month_4,Count_of_unique_customer_by_month_5
0,0000e2398b12121a85166fed5fe2a3da,0,47,3,2,0,0,1,0,0,...,0.0,3.0,0.0,0.0,2.0,0.0,0.0,3.0,0.0,0.0
1,0001fe8dce14ce099aa6ca8ea5026ea7,0,234,234,4,51,7,0,26,68,...,0.0,2088.0,0.0,0.0,4.0,0.0,0.0,234.0,0.0,0.0
2,00027f50019000accc492e5684efc818,0,378,22,5,0,0,28,238,72,...,0.0,0.0,20.0,0.0,0.0,5.0,0.0,0.0,22.0,0.0
3,00028c9da3573ec50db74b44310ae507,0,368,113,5,4,2,8,9,0,...,0.0,0.0,380.0,0.0,0.0,5.0,0.0,0.0,113.0,0.0
4,0003dc8130969abe688cadf5f14ea19f,0,235,130,4,0,38,115,69,10,...,0.0,0.0,1510.0,0.0,0.0,4.0,0.0,0.0,130.0,0.0

In [33]:
df_train = pd.concat([pd.DataFrame(np.arange(df_train.shape[0]), columns = ['ID']), df_train], axis = 1)

In [34]:
df_train.to_csv('df_train.csv', index = None)

In [35]:
df_test = df_test.merge(df_new.ix[df_new['FileID'].isin(df_test['FileID'].values), ],
              left_on='FileID', right_on='FileID')

In [36]:
df_test.shape

(29376, 255)

In [37]:
df_test.head()

,FileID,Target,Occur_count,Occur_count_distinct_customer,Occur_count_distinct_product,Weekday_1,Weekday_2,Weekday_3,Weekday_4,Weekday_5,...,time_interval_occurrence_Q1_by_month_5,time_interval_occurrence_Q3_by_month_3,time_interval_occurrence_Q3_by_month_4,time_interval_occurrence_Q3_by_month_5,Count_of_unique_product_by_month_3,Count_of_unique_product_by_month_4,Count_of_unique_product_by_month_5,Count_of_unique_customer_by_month_3,Count_of_unique_customer_by_month_4,Count_of_unique_customer_by_month_5
0,00008c73ee43c15b16c26b26398c1577,0.5,134,91,5,50,22,20,21,19,...,167.00,0.0,0.0,1925.00,0.0,0.0,5.0,0.0,0.0,91.0
1,0002ded3a0b54f2ffdab0ca77a5ce2b6,0.5,791,5,2,5,126,0,0,0,...,24.00,0.0,0.0,60.00,0.0,0.0,2.0,0.0,0.0,5.0
2,00050a9df8e13f6ab5a3d3b3e2fc6a86,0.5,617,614,4,117,45,8,140,115,...,154.75,0.0,0.0,1023.00,0.0,0.0,4.0,0.0,0.0,614.0
3,000b1aa62b95e448784b8b341de46c64,0.5,242,177,9,5,2,1,0,0,...,1.00,0.0,0.0,57.00,0.0,0.0,9.0,0.0,0.0,177.0
4,000d9f96b5eddf04a3b7a37cb95d0a00,0.5,73,29,3,3,16,9,0,6,...,1.00,0.0,0.0,974.25,0.0,0.0,3.0,0.0,0.0,29.0

In [38]:
df_test = pd.concat([pd.DataFrame(np.arange(df_test.shape[0]), columns = ['ID']), df_test], axis = 1)

In [39]:
df_test.to_csv('df_test.csv', index = None)

## Data Exploration

### Load the data

In [131]:
df_train = pd.read_csv('df_train.csv')

In [132]:
df_train.head()

,ID,FileID,Target,Occur_count,Occur_count_distinct_customer,Occur_count_distinct_product,Weekday_1,Weekday_2,Weekday_3,Weekday_4,...,time_interval_occurrence_max_by_month_5,time_interval_occurrence_min_by_month_3,time_interval_occurrence_min_by_month_4,time_interval_occurrence_min_by_month_5,time_interval_occurrence_Q1_by_month_3,time_interval_occurrence_Q1_by_month_4,time_interval_occurrence_Q1_by_month_5,time_interval_occurrence_Q3_by_month_3,time_interval_occurrence_Q3_by_month_4,time_interval_occurrence_Q3_by_month_5
0,0,0000e2398b12121a85166fed5fe2a3da,0,47,3,2,0,0,1,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,3.0,0.0,0.0
1,1,0001fe8dce14ce099aa6ca8ea5026ea7,0,234,234,4,51,7,0,26,...,0.0,6.0,0.0,0.0,392.0,0.0,0.0,2088.0,0.0,0.0
2,2,00027f50019000accc492e5684efc818,0,378,22,5,0,0,28,238,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.0,0.0
3,3,00028c9da3573ec50db74b44310ae507,0,368,113,5,4,2,8,9,...,0.0,0.0,0.0,0.0,0.0,12.0,0.0,0.0,380.0,0.0
4,4,0003dc8130969abe688cadf5f14ea19f,0,235,130,4,0,38,115,69,...,0.0,0.0,0.0,0.0,0.0,64.0,0.0,0.0,1510.0,0.0

### Split the dataset

In [70]:
df_tr, df_test = train_test_split(df_train, test_size = 0.2, random_state = seed, shuffle = True, stratify = df_train['Target'])

In [71]:
df_tr.index = range(df_tr.shape[0])
df_test.index = range(df_test.shape[0])

In [72]:
df_tr['Target'].value_counts()/df_tr.shape[0]

0    0.892607
1    0.107393
Name: Target, dtype: float64

In [73]:
df_test['Target'].value_counts()/df_test.shape[0]

0    0.892612
1    0.107388
Name: Target, dtype: float64

### Overview

In [293]:
df_tr.head()

,ID,FileID,Target,Occur_count,Occur_count_distinct_customer,Occur_count_distinct_product,Weekday_1,Weekday_2,Weekday_3,Weekday_4,...,time_interval_occurence_std,time_interval_occurence_Q1,time_interval_occurence_Q3,time_interval_occurence_IQR,time_interval_occurence_skew,time_interval_occurence_kurtosis,time_interval_occurence_range,Month_3,Month_4,Month_5
0,22930,6f3d0d90fe339d52bebd76515bfde104,0,314,70,2,62,64,74,18,...,7520.930648,5.0,962.0,957.0,7.445370,60.450340,82186,0.0,0.375796,0.624204
1,38034,b8f727e9e9dc07e1e77e09294c804380,0,1036,680,6,164,99,13,82,...,682.300793,51.5,589.0,537.5,4.035395,26.507806,7737,1.0,0.000000,0.000000
2,44504,d89c5ee85d04457f26b295111a668ddc,0,688,379,7,0,396,71,62,...,2530.431636,21.0,524.5,503.5,9.442559,103.481462,34381,0.0,1.000000,0.000000
3,3261,102525653f8c811562f81c48c9df58c8,0,509,489,5,19,49,81,82,...,1396.081493,217.0,1203.0,986.0,5.648862,50.830107,17436,0.0,1.000000,0.000000
4,43503,d36dbc2e1a8cd8dddbe9a8842f290658,0,537,445,3,0,0,470,67,...,255.126752,36.0,202.0,166.0,6.166033,52.274094,3014,1.0,0.000000,0.000000

#### NAs

In [294]:
np.sum(df_tr.isna())

ID                                  0
FileID                              0
Target                              0
Occur_count                         0
Occur_count_distinct_customer       0
Occur_count_distinct_product        0
Weekday_1                           0
Weekday_2                           0
Weekday_3                           0
Weekday_4                           0
Weekday_5                           0
Weekday_6                           0
Weekday_7                           0
Weekday_1_norm                      0
Weekday_2_norm                      0
Weekday_3_norm                      0
Weekday_4_norm                      0
Weekday_5_norm                      0
Weekday_6_norm                      0
Weekday_7_norm                      0
Day_lvl_3_1                         0
Day_lvl_3_2                         0
Day_lvl_3_3                         0
Day_lvl_3_1_norm                    0
Day_lvl_3_2_norm                    0
Day_lvl_3_3_norm                    0
Hour_lvl_3_1                        0
Hour_lvl_3_2                        0
Hour_lvl_3_3                        0
Hour_lvl_2_0                        0
Hour_lvl_2_1                        0
Hour_lvl_3_1_norm                   0
Hour_lvl_3_2_norm                   0
Hour_lvl_3_3_norm                   0
Hour_lvl_2_0_norm                   0
Hour_lvl_2_1_norm                   0
time_interval_occurence_mean        0
time_interval_occurence_median      0
time_interval_occurence_max         0
time_interval_occurence_min         0
time_interval_occurence_std         0
time_interval_occurence_Q1          0
time_interval_occurence_Q3          0
time_interval_occurence_IQR         0
time_interval_occurence_skew        0
time_interval_occurence_kurtosis    0
time_interval_occurence_range       0
Month_3                             0
Month_4                             0
Month_5                             0
dtype: int64

#### Summary statistics

In [295]:
df_tr.describe()

,ID,Target,Occur_count,Occur_count_distinct_customer,Occur_count_distinct_product,Weekday_1,Weekday_2,Weekday_3,Weekday_4,Weekday_5,...,time_interval_occurence_std,time_interval_occurence_Q1,time_interval_occurence_Q3,time_interval_occurence_IQR,time_interval_occurence_skew,time_interval_occurence_kurtosis,time_interval_occurence_range,Month_3,Month_4,Month_5
count,42014.000000,42014.000000,42014.000000,42014.000000,42014.000000,42014.00000,42014.000000,42014.000000,42014.000000,42014.000000,...,42014.000000,42014.000000,42014.000000,42014.000000,42014.000000,42014.000000,42014.000000,42014.000000,42014.000000,42014.000000
mean,26283.275979,0.107393,1036.610035,757.256272,4.391869,121.96118,84.907745,122.522135,153.724068,182.636502,...,9150.397885,156.309361,1584.045669,1427.736308,6.081037,85.529508,62583.779930,0.497805,0.486384,0.015810
std,15160.960852,0.309616,2792.265366,2377.089114,2.163900,468.36561,438.133860,460.261411,458.750763,542.324139,...,12418.618051,3729.485179,5753.681627,3500.595046,5.607742,379.120102,70347.257743,0.493163,0.484554,0.085586
min,0.000000,0.000000,1.000000,1.000000,1.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,-12.328711,-3.000000,0.000000,0.000000,0.000000,0.000000
25%,13141.250000,0.000000,78.000000,9.000000,3.000000,1.00000,0.000000,2.000000,2.000000,3.000000,...,987.247335,2.000000,150.250000,134.000000,3.195887,11.866937,10999.000000,0.000000,0.000000,0.000000
50%,26286.500000,0.000000,232.000000,47.000000,4.000000,20.00000,12.000000,19.000000,23.000000,26.000000,...,4412.907508,15.000000,602.000000,540.875000,4.552648,24.922671,39931.500000,0.518875,0.376306,0.000000
75%,39399.750000,0.000000,734.000000,386.000000,6.000000,87.00000,56.000000,84.000000,97.000000,111.000000,...,12568.521157,71.500000,1648.437500,1555.375000,7.042718,62.133546,85717.500000,1.000000,1.000000,0.000000
max,52516.000000,1.000000,114540.000000,81322.000000,18.000000,31031.00000,32558.000000,34153.000000,14115.000000,17949.000000,...,241903.000000,410702.000000,410702.000000,241903.000000,147.473656,25531.964772,510952.000000,1.000000,1.000000,1.000000

### EDA

### Construct features

In [296]:
df_tr.columns

Index(['ID', 'FileID', 'Target', 'Occur_count',
       'Occur_count_distinct_customer', 'Occur_count_distinct_product',
       'Weekday_1', 'Weekday_2', 'Weekday_3', 'Weekday_4', 'Weekday_5',
       'Weekday_6', 'Weekday_7', 'Weekday_1_norm', 'Weekday_2_norm',
       'Weekday_3_norm', 'Weekday_4_norm', 'Weekday_5_norm', 'Weekday_6_norm',
       'Weekday_7_norm', 'Day_lvl_3_1', 'Day_lvl_3_2', 'Day_lvl_3_3',
       'Day_lvl_3_1_norm', 'Day_lvl_3_2_norm', 'Day_lvl_3_3_norm',
       'Hour_lvl_3_1', 'Hour_lvl_3_2', 'Hour_lvl_3_3', 'Hour_lvl_2_0',
       'Hour_lvl_2_1', 'Hour_lvl_3_1_norm', 'Hour_lvl_3_2_norm',
       'Hour_lvl_3_3_norm', 'Hour_lvl_2_0_norm', 'Hour_lvl_2_1_norm',
       'time_interval_occurence_mean', 'time_interval_occurence_median',
       'time_interval_occurence_max', 'time_interval_occurence_min',
       'time_interval_occurence_std', 'time_interval_occurence_Q1',
       'time_interval_occurence_Q3', 'time_interval_occurence_IQR',
       'time_interval_occurence_skew', 'time_interval_occurence_kurtosis',
       'time_interval_occurence_range', 'Month_3', 'Month_4', 'Month_5'],
      dtype='object')

In [297]:
df_tr.head()

,ID,FileID,Target,Occur_count,Occur_count_distinct_customer,Occur_count_distinct_product,Weekday_1,Weekday_2,Weekday_3,Weekday_4,...,time_interval_occurence_std,time_interval_occurence_Q1,time_interval_occurence_Q3,time_interval_occurence_IQR,time_interval_occurence_skew,time_interval_occurence_kurtosis,time_interval_occurence_range,Month_3,Month_4,Month_5
0,22930,6f3d0d90fe339d52bebd76515bfde104,0,314,70,2,62,64,74,18,...,7520.930648,5.0,962.0,957.0,7.445370,60.450340,82186,0.0,0.375796,0.624204
1,38034,b8f727e9e9dc07e1e77e09294c804380,0,1036,680,6,164,99,13,82,...,682.300793,51.5,589.0,537.5,4.035395,26.507806,7737,1.0,0.000000,0.000000
2,44504,d89c5ee85d04457f26b295111a668ddc,0,688,379,7,0,396,71,62,...,2530.431636,21.0,524.5,503.5,9.442559,103.481462,34381,0.0,1.000000,0.000000
3,3261,102525653f8c811562f81c48c9df58c8,0,509,489,5,19,49,81,82,...,1396.081493,217.0,1203.0,986.0,5.648862,50.830107,17436,0.0,1.000000,0.000000
4,43503,d36dbc2e1a8cd8dddbe9a8842f290658,0,537,445,3,0,0,470,67,...,255.126752,36.0,202.0,166.0,6.166033,52.274094,3014,1.0,0.000000,0.000000

#### Feature: Mean occurence by distinct customer

In [74]:
df_tr['Mean_occur_count_per_customer'] = df_tr['Occur_count']/df_tr['Occur_count_distinct_customer']

C:\Users\Xniper\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

#### Feature: Mean occurence by distinct product

In [75]:
df_tr['Mean_occur_count_per_product'] = df_tr['Occur_count']/df_tr['Occur_count_distinct_product']

C:\Users\Xniper\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

#### Feature: Coefficient of variation

In [76]:
df_tr['time_interval_occurence_cv'] = df_tr.ix[:, ['time_interval_occurence_std', 'time_interval_occurence_mean']].apply(lambda x: (x[0]/x[1] if x[1] != 0 else 0), axis = 1)

C:\Users\Xniper\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.
C:\Users\Xniper\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

#### Feature: Ratio of occurence on weekends

In [77]:
df_tr['Occur_weekend_ratio'] = (df_tr['Weekday_6'] + df_tr['Weekday_7'])/(df_tr['Weekday_1'] + df_tr['Weekday_2'] + df_tr['Weekday_3'] + df_tr['Weekday_4'] + df_tr['Weekday_5'] + df_tr['Weekday_6'] + df_tr['Weekday_7'])

C:\Users\Xniper\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

#### Remove features: Day_lvl_3, Day_lvl_3_norm, Weekday, Hour_lvl_3, Hour_lvl_2, Hour_lvl_2_norm, Month,

In [357]:
feature_to_use = ['Mean_occur_count_per_customer',
 'time_interval_occurence_median',
 'Occur_count_distinct_customer',
 'Mean_occur_count_per_product',
 'time_interval_occurence_Q1',
 'Occur_count_distinct_product',
 'time_interval_occurence_cv',
 'time_interval_occurence_Q3',
 'time_interval_occurence_mean',
 'time_interval_occurence_IQR',
 'Hour_lvl_3_3_norm',
 'time_interval_occurence_max',
 'Weekday_3_norm',
 'Hour_lvl_3_1_norm',
 'Weekday_5_norm',
 'time_interval_occurence_std',
 'Hour_lvl_3_2_norm',
 'Weekday_4_norm',
 'time_interval_occurence_kurtosis',
 'Occur_count',
 'time_interval_occurence_skew',
 'Weekday_7_norm',
 'Weekday_2_norm',
 'Weekday_1_norm',
 'Occur_weekend_ratio',
 'Weekday_6_norm',
 'time_interval_occurence_range',
 'time_interval_occurence_min']

In [82]:
df_tr.columns

Index(['ID', 'FileID', 'Target', 'Occur_count',
       'Occur_count_distinct_customer', 'Occur_count_distinct_product',
       'Weekday_1', 'Weekday_2', 'Weekday_3', 'Weekday_4', 'Weekday_5',
       'Weekday_6', 'Weekday_7', 'Weekday_1_norm', 'Weekday_2_norm',
       'Weekday_3_norm', 'Weekday_4_norm', 'Weekday_5_norm', 'Weekday_6_norm',
       'Weekday_7_norm', 'Day_lvl_3_1', 'Day_lvl_3_2', 'Day_lvl_3_3',
       'Day_lvl_3_1_norm', 'Day_lvl_3_2_norm', 'Day_lvl_3_3_norm',
       'Hour_lvl_3_1', 'Hour_lvl_3_2', 'Hour_lvl_3_3', 'Hour_lvl_2_0',
       'Hour_lvl_2_1', 'Hour_lvl_3_1_norm', 'Hour_lvl_3_2_norm',
       'Hour_lvl_3_3_norm', 'Hour_lvl_2_0_norm', 'Hour_lvl_2_1_norm',
       'time_interval_occurence_mean', 'time_interval_occurence_median',
       'time_interval_occurence_max', 'time_interval_occurence_min',
       'time_interval_occurence_std', 'time_interval_occurence_Q1',
       'time_interval_occurence_Q3', 'time_interval_occurence_IQR',
       'time_interval_occurence_skew', 'time_interval_occurence_kurtosis',
       'time_interval_occurence_range', 'Month_3', 'Month_4', 'Month_5',
       'ProductID_885fab', 'ProductID_262880', 'ProductID_aaa9c8',
       'ProductID_dd8d4a', 'ProductID_055649', 'ProductID_75f310',
       'ProductID_8452da', 'ProductID_634e6b', 'ProductID_c105a0',
       'ProductID_20f8a5', 'ProductID_05b409', 'ProductID_3ea8c3',
       'ProductID_a310bb', 'ProductID_3c2be6', 'ProductID_8b7f69',
       'ProductID_b93794', 'ProductID_0cdb7a', 'ProductID_fec24f',
       'ProductID_e47f04', 'ProductID_c76d58', 'ProductID_218578',
       'ProductID_8541a0', 'ProductID_533133', 'ProductID_26a5d0',
       'ProductID_d465fc', 'ProductID_0374c4', 'ProductID_cc3a6a',
       'ProductID_7acab3', 'Mean_occur_count_per_customer',
       'Mean_occur_count_per_product', 'time_interval_occurence_cv',
       'Occur_weekend_ratio'],
      dtype='object')